.main-grid{
    display: block;
}

.main-grid__row {
}
.main-grid__item {
}
.main-grid-item {
    width: 36%;
    display: block;
    float: left;
    text-decoration: none;
    color: #7f7f7f;
    height: 412px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;

    background-color: #3faca6;


    .title{
        font-size: 280%;
        line-height: 120%;
    }
}
.main-grid-item:hover .main-grid-item__front{
    opacity: 0;
}

.main-grid-item:hover .main-grid-item__back{
    opacity: 1;
}

.main-grid-item__img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-grid-item__front {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    transition: all .3s ease;

    position: relative;

    &::after{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #a52c25;
        content: '';
        opacity: .3;
        transition: all 0.2s ease-in-out;
    }

    // display: none;
}
.main-grid-item__back {
    // color: black;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255,.9);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        margin: 20px;
    }
}

.main-grid__col{
    width: 100%;
}

.main-grid-item--center{
    

        line-height: 150%;
        text-align: left;
        font-weight: 400;
        line-height: 150%;
        padding: 0 2%;
        
        .main-grid-item__front{
            font-family: 'Roboto';

            &::after{
                display: none;
            }
            .title{
                font-family: 'Roboto';
                font-size: 300%;
                
            }
        }
    &:hover{
        & .main-grid-item__front{
            opacity: 1;

        }
    }
}
    
.main-grid-item--x2height{
    height: 824px;
}

.main-grid-item--w64{
    width: 64%;
}


.main-grid-item--w28{
    width: 28%;
}

.main-grid_services{
    background: #ff5c4b;
    .main-grid__row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .main-grid-item{
        // display: block;
        float: none;
        width: 33.333%;
        border: .5px solid white;

        p{
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
        }
    }

    .title{
        font-size: 150%;
    }
}

@media(max-width: 1920px){
    
}

@media(max-width: 1440px){
    
}

@media(max-width: 1200px){
    .main-grid--index{
        .title{
            font-size: 200%;
        }
    }
    .main-grid-item--center .main-grid-item__front .title{
        font-size: 200%;
    }
}

@media(max-width: 940px){
    .main-grid-item{
        width: 50%;
        height: 250px;

        &--x2height{
            height: 250px;
        }
    }

    .main-grid-item--center .main-grid-item__front .title{
        font-size: 250%;
    }

    .main-grid-item .title{
        font-size: 150%;
    }

    .main-grid-item__back p{
        margin: 10px;
    }

    .main-grid_services .main-grid-item{
        width: 50%;
    }
}

@media(max-width: 768px){
    .main-grid-item{
        width: 100%;
        height: 300px;

        // &--x2height{
        //     height: 250px;
        // }
    }

    .main-grid_services .main-grid-item{
        width: 100%;
    }
}