@font-face {
    font-family: 'Xenia';
    src: url("../fonts/xenia-extended-cyrillic.eot");
    src: url("../fonts/xenia-extended-cyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/xenia-extended-cyrillic.woff2") format("woff2"), url("../fonts/xenia-extended-cyrillic.woff") format("woff"), url("../fonts/xenia-extended-cyrillic.ttf") format("truetype"), url("../fonts/xenia-extended-cyrillic.svg#xenia_extendedcyrillic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
  font-family: 'XeniaBoldCyrillic';
  src: url('../fonts/XeniaBoldCyrillic.eot?#iefix') format('embedded-opentype'),  url('../fonts/XeniaBoldCyrillic.woff') format('woff'), url('../fonts/XeniaBoldCyrillic.ttf')  format('truetype'), url('../fonts/XeniaBoldCyrillic.svg#XeniaBoldCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}