.footer {
	color: #fff;
}
.footer__inner {
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
	padding: 90px 0;
}
.soc {
	display: flex;
	justify-content: center;
	margin: 0 0 50px;
	&:hover{

	}
}
.soc__link {
	display: inline-block;
    width: 165px;
    height: 165px;
	margin: 0 2%;
	flex-shrink: 0;
	background: url(../images/soc.png) no-repeat;
}
.soc__link--tw {
	background-position: 0 0;
	&:hover{
		    background-position: 0 -230px;
	}
}
.soc__link--fb {
	background-position: -234px 0;
	&:hover{
		background-position: -234px -230px;
	}
}
.soc__link--in {
	background-position: -468px 0;
	&:hover{
		background-position: -468px -230px;
	}
}
.soc__link--vk {
	background-position: -701px 0;
	&:hover{
		background-position: -701px -230px;
	}
}
.footer__contacts {
	display: flex;
	justify-content: center;
}
.footer__col {
	width: 25%;
	flex-shrink: 0;
	padding: 10px 3%;
	border-right: 2px solid #ff5c4b;

	&:last-child{
		border-right: none;
	}
}
.footer__title {
	font-size: 160%;
	margin: 0 0 20px;
	&.title{
		text-align: left;
	}
}
.footer__info {
}
.footer__bot {
	text-align: center;
	color: #8b1616;
	background: #ff5c4b;
	line-height: normal;
	font-size: 72%;
	padding: 18px 5% 20px;
}

.footer-sub {
	
}
.footer-sub__inner {
	position: relative;
	
	// background: url(../images/subscripbe.jpg) no-repeat 50% 50%/cover;
	padding: 80px 0 40px;
	text-align: center;
	color: #fff;

	.image-fallback{
		z-index: -1;
	}
}
.footer-sub__title {
	font-size: 38px;
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	&.title{
	}
}
.footer-sub__desc {
	margin-bottom: 36px;
	padding: 0 20px;
}
.footer-sub__form {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
}
.footer-sub__row {
	display: flex;
	justify-content: space-between;
}
.footer-sub__input{
	width: 49%;
	padding: 15px;
	color: #d7d7d7;
	background: transparent;
	border: 2px solid #a4a4a4;
	outline: NONE;
	font-size: 18px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.footer-sub__submit {
	display: block;
	background: #ff5c4b;
	cursor: pointer;
	width: 100%;
	font-weight: 300;
	font-family: 'Roboto';
	margin-bottom: 60px;
	
	&.btn{
		padding: 5px;
	}
}
.soc {
}

.footer-sub__extra{
	font-size: 16px;
	line-height: 20px;
	max-width: 1000px;
	padding: 0 20px;
	margin: auto;
}

.footer--with-bg{
	position: relative;
	overflow: hidden;
	.footer__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

@media(max-width: 1920px){
    
}

@media(max-width: 1440px){
	.footer__title{
		font-size: 120%;
	}
    .footer__info{
		font-size: 18px;
	}
}

@media(max-width: 1200px){
    .footer__info{
		font-size: 16px;
	}

	.footer__bot{
		font-size: 80%;
	}
}

@media(max-width: 1024px){
    .footer__col{
		width: 30%;
	}

	.soc__link{
		width: 120px;
		height: 120px;
		background-size: auto 240%;
	}
	.soc__link--tw{
		&:hover{
			background-position: 0 -167px;	
		}
	}

	.soc__link--fb{
		background-position: -171px 0;
		&:hover{
			background-position: -171px -167px;
		}
	}

	.soc__link--in{
		background-position: -341px 0;
		&:hover{
			background-position: -341px -167px;
		}
	}

	.soc__link--vk{
		background-position: -512px 0;
		&:hover{
			background-position: -512px -167px;
		}
	}

}

@media(max-width: 768px){
    .footer__contacts{
		flex-direction: column;
	}

	.footer__col{
		border-right: none;
		width: 94%;
		text-align: center;
		border-bottom: 2px solid #ff5c4b;
		margin-bottom: 20px;
		padding-bottom: 30px;
		margin-left: 3%;
		margin-right: 3%;

		&:last-child{
			border-bottom: none;
		}
	}

	.footer__title{
		&.title{
			text-align: center;
		}
	}

	.soc{
		transform: scale(.7);
	}

	.footer-sub__row{
		flex-direction: column;
	}

	.footer-sub__input{
		width: 100%;
	}

	.footer-sub__title{
		width: 100%;
		padding: 0 20px;
	}
}

@media(max-width: 564px){
	.soc{
		transform: scale(.5);
	}
}