.slick-initialized .slick-slide{
    padding: 0 5px;
}
.search-field__input{
    padding-left: 15px;
    &::placeholder {
        color: #fff;
        position: absolute;
        // left: -137px;
        left: 0px;
        opacity: .5;
        font-size: 100%;
        z-index: 0;
      }
}
