@font-face {
    font-family: 'Xenia';
    src: url("../fonts/xenia-extended-cyrillic.eot");
    src: url("../fonts/xenia-extended-cyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/xenia-extended-cyrillic.woff2") format("woff2"), url("../fonts/xenia-extended-cyrillic.woff") format("woff"), url("../fonts/xenia-extended-cyrillic.ttf") format("truetype"), url("../fonts/xenia-extended-cyrillic.svg#xenia_extendedcyrillic") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'XeniaBoldCyrillic';
    src: url("../fonts/XeniaBoldCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/XeniaBoldCyrillic.woff") format("woff"), url("../fonts/XeniaBoldCyrillic.ttf") format("truetype"), url("../fonts/XeniaBoldCyrillic.svg#XeniaBoldCyrillic") format("svg");
    font-weight: normal;
    font-style: normal; }
    @-webkit-keyframes fadeInRightBig {
      0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
      }
    
      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
    
    @keyframes fadeInRightBig {
      0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
      }
    
      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
    }
    
  /* Slider */
  .slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0; }
  
  .slick-list:focus {
    outline: none; }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: ''; }
  
  .slick-track:after {
    clear: both; }
  
  .slick-loading .slick-track {
    visibility: hidden; }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px; }
  
  [dir='rtl'] .slick-slide {
    float: right; }
  
  .slick-slide img {
    display: block; }
  
  .slick-slide.slick-loading img {
    display: none; }
  
  .slick-slide.dragging img {
    pointer-events: none; }
  
  .slick-initialized .slick-slide {
    display: block; }
  
  .slick-loading .slick-slide {
    visibility: hidden; }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }
  
  .slick-arrow.slick-hidden {
    display: none; }
  
  .slbOverlay, .slbWrapOuter, .slbWrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  
  .slbOverlay {
    overflow: hidden;
    z-index: 2000;
    background-color: #000;
    opacity: 0.7;
    -webkit-animation: slbOverlay 0.5s;
    animation: slbOverlay 0.5s; }
  
  .slbWrapOuter {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2010; }
  
  .slbWrap {
    position: absolute;
    text-align: center; }
  
  .slbWrap:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  
  .slbContentOuter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2020;
    text-align: left;
    max-width: 100%; }
  
  .slbContentEl .slbContentOuter {
    padding: 5em 1em; }
  
  .slbContent {
    position: relative; }
  
  .slbContentEl .slbContent {
    -webkit-animation: slbEnter 0.3s;
    animation: slbEnter 0.3s;
    background-color: #fff;
    -webkit-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4);
            box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4); }
  
  .slbImageWrap {
    -webkit-animation: slbEnter 0.3s;
    animation: slbEnter 0.3s;
    position: relative; }
  
  .slbImageWrap:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 5em;
    bottom: 5em;
    display: block;
    z-index: -1;
    -webkit-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
            box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
    background-color: #FFF; }
  
  .slbDirectionNext .slbImageWrap {
    -webkit-animation: slbEnterNext 0.4s;
    animation: slbEnterNext 0.4s; }
  
  .slbDirectionPrev .slbImageWrap {
    -webkit-animation: slbEnterPrev 0.4s;
    animation: slbEnterPrev 0.4s; }
  
  .slbImage {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5em 0;
    margin: 0 auto; }
  
  .slbCaption {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 1.4em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .71429em 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    text-align: center; }
  
  .slbCloseBtn, .slbArrow {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none; }
  
  .slbCloseBtn::-moz-focus-inner, .slbArrow::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  .slbCloseBtn:hover, .slbArrow:hover {
    opacity: 0.5; }
  
  .slbCloseBtn:active, .slbArrow:active {
    opacity: 0.8; }
  
  .slbCloseBtn {
    -webkit-animation: slbEnter 0.3s;
    animation: slbEnter 0.3s;
    font-size: 3em;
    width: 1.66667em;
    height: 1.66667em;
    line-height: 1.66667em;
    position: absolute;
    right: -.33333em;
    top: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    text-align: center; }
  
  .slbLoading .slbCloseBtn {
    display: none; }
  
  .slbLoadingText {
    font-size: 1.4em;
    color: #fff;
    color: rgba(255, 255, 255, 0.9); }
  
  .slbArrows {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0; }
  
  .slbLoading .slbArrows {
    display: none; }
  
  .slbArrow {
    position: absolute;
    top: 50%;
    margin-top: -5em;
    width: 5em;
    height: 10em;
    opacity: 0.7;
    text-indent: -999em;
    overflow: hidden; }
  
  .slbArrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.8em 0 0 -.8em;
    border: .8em solid transparent; }
  
  .slbArrow.next {
    right: 0; }
  
  .slbArrow.next:before {
    border-left-color: #fff; }
  
  .slbArrow.prev {
    left: 0; }
  
  .slbArrow.prev:before {
    border-right-color: #fff; }
  
  .slbIframeCont {
    width: 80em;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 5em 0; }
  
  .slbIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
            box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
    background: #000; }
  
  @-webkit-keyframes slbOverlay {
    from {
      opacity: 0; }
    to {
      opacity: 0.7; } }
  
  @keyframes slbOverlay {
    from {
      opacity: 0; }
    to {
      opacity: 0.7; } }
  
  @-webkit-keyframes slbEnter {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -1em, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0); } }
  
  @keyframes slbEnter {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -1em, 0);
      transform: translate3d(0, -1em, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
  @-webkit-keyframes slbEnterNext {
    from {
      opacity: 0;
      -webkit-transform: translate3d(4em, 0, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0); } }
  
  @keyframes slbEnterNext {
    from {
      opacity: 0;
      -webkit-transform: translate3d(4em, 0, 0);
      transform: translate3d(4em, 0, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
  @-webkit-keyframes slbEnterPrev {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-4em, 0, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0); } }
  
  @keyframes slbEnterPrev {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-4em, 0, 0);
      transform: translate3d(-4em, 0, 0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font: inherit; }
  
  i, cite, em, var, dfn, address {
    /* prevent faux italic */
    font-style: normal; }
  
  b, h1, h2, h3, h4, h5, h6, strong, th {
    /* prevent faux bold */
    font-weight: normal; }
  
  /* HTML5 display-role reset for older browsers (UC Browser on Android) */
  article, aside, figcaption, figure, footer, header, menu, section {
    display: block; }
  
  blockquote, q {
    /* browsers use English quotation marks which may not be appropriate for every language */
    /* see https://en.wikipedia.org/wiki/Quotation_mark#Summary_table */
    quotes: none; }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  
  table {
    /* default to compact tables */
    border-collapse: collapse;
    border-spacing: 0; }
  
  *, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* intuitive sizing */ }
  
  [hidden] {
    display: none !important;
    /* enforce semantics */ }
  
  /* https://github.com/mozdevs/cssremedy/issues/11#issuecomment-462867630 */
  @media (prefers-reduced-motion: reduce) {
    *:not(.safe-animation),
    *:not(.safe-animation)::before,
    *:not(.safe-animation)::after {
      -webkit-animation-duration: 0.01s !important;
              animation-duration: 0.01s !important;
      -webkit-animation-delay: 0s !important;
              animation-delay: 0s !important;
      -webkit-animation-iteration-count: 1 !important;
              animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0s !important;
              transition-duration: 0s !important;
      -webkit-transition-delay: 0s !important;
              transition-delay: 0s !important;
      scroll-behavior: auto !important; } }
  
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* padding: 20px 30px 0; */
    padding: 15px 30px;
    z-index: 100;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  
  .header__left,
  .header__right {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 305px; }
  
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  
  .header__mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__mid nav {
      display: block; }
  
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__nav a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 0 10px; }
  
  .header-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-options a {
      text-decoration: none;
      color: white;
      display: block;
      margin-right: 20px; }
  
  .header-option {
    padding-left: 26px;
    position: relative;
    font-size: 14px; }
    .header-option:last-child {
      margin-right: 0; }
    .header-option::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../images/lang-ico.svg) no-repeat;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .header-option--geo::after {
      height: 25px;
      background-image: url(../images/geo-ico.svg); }
    .header-option--search::after {
      width: 22px;
      background-image: url(../images/search-ico.svg); }
    .header-option--lang::after {
      background-image: url(../images/lang-ico.svg); }
  
  .header.sticky, .header.orange-forever {
    background: #ff5c4b; }
    .header.sticky .logo, .header.orange-forever .logo {
      background: url(../images/logo-white.svg) no-repeat 0 0/100% auto; }
  
  .header.orange-forever {
    position: static; }
  
  @media (max-width: 1440px) {
    .header__nav {
      font-size: 14px; }
    .header-option {
      font-size: 13px; } }
  
  @media (max-width: 1280px) {
    .header__left,
    .header__right {
      max-width: 270px; }
    .header__nav {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      position: fixed;
      padding: 60px 5px 40px;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: rgba(0, 0, 0, 0.8);
      right: 0;
      top: 0;
      max-width: 100%;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      font-size: 32px; }
      .header__nav li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 50%;
        padding: 6px; }
      .header__nav a {
        background: #3faca6;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 120%; }
    .header__nav.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .menu-btn-mobile {
      width: 22px;
      height: 22px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      z-index: 101;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-left: 20px; }
    .menu-btn-mobile:hover {
      opacity: .8; }
    .menu-btn-mobile span {
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      height: 2px;
      background: #fff;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .menu-btn-mobile span.top {
      top: 0; }
    .menu-btn-mobile span.bottom {
      top: 19px; }
    .menu-btn-mobile.active .top,
    .menu-btn-mobile.active .middle {
      top: 0;
      left: 2px;
      width: 28px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-btn-mobile.active .bottom {
      top: 20px;
      width: 28px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header__nav.active {
      -webkit-transform: translateX(0%);
              transform: translateX(0%); } }
  
  @media (max-width: 1024px) {
    .header__nav {
      font-size: 28px; }
      .header__nav a {
        font-size: 100%; } }
  
  @media (max-width: 768px) {
    .header-options {
      display: none; }
    .header__left,
    .header__right {
      max-width: none;
      width: auto; }
    .header {
      padding: 15px; }
    .header__nav {
      font-size: 24px; } }
  
  @media (max-width: 568px) {
    .header__nav {
      font-size: 16px; } }
  
  .footer {
    color: #fff; }
  
  .footer__inner {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    padding: 90px 0; }
  
  .soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 50px; }
  
  .soc__link {
    display: inline-block;
    width: 165px;
    height: 165px;
    margin: 0 2%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: url(../images/soc.png) no-repeat; }
  
  .soc__link--tw {
    background-position: 0 0; }
    .soc__link--tw:hover {
      background-position: 0 -230px; }
  
  .soc__link--fb {
    background-position: -234px 0; }
    .soc__link--fb:hover {
      background-position: -234px -230px; }
  
  .soc__link--in {
    background-position: -468px 0; }
    .soc__link--in:hover {
      background-position: -468px -230px; }
  
  .soc__link--vk {
    background-position: -701px 0; }
    .soc__link--vk:hover {
      background-position: -701px -230px; }
  
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .footer__col {
    width: 25%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px 3%;
    border-right: 2px solid #ff5c4b; }
    .footer__col:last-child {
      border-right: none; }
  
  .footer__title {
    font-size: 160%;
    margin: 0 0 20px; }
    .footer__title.title {
      text-align: left; }
  
  .footer__bot {
    text-align: center;
    color: #8b1616;
    background: #ff5c4b;
    line-height: normal;
    font-size: 72%;
    padding: 18px 5% 20px; 
  }
  
  .footer-sub__inner {
    position: relative;
    padding: 80px 0 40px;
    text-align: center;
    color: #fff; }
    .footer-sub__inner .image-fallback {
      z-index: -1; }
  
  .footer-sub__title {
    font-size: 38px;
    line-height: normal;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center; }
  
  .footer-sub__desc {
    margin-bottom: 36px;
    padding: 0 20px; }
  
  .footer-sub__form {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 0 20px; }
  
  .footer-sub__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  
  .footer-sub__input {
    width: 49%;
    padding: 15px;
    color: #d7d7d7;
    background: transparent;
    border: 2px solid #a4a4a4;
    outline: NONE;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 20px; }
  
  .footer-sub__submit {
    display: block;
    background: #ff5c4b;
    cursor: pointer;
    width: 100%;
    font-weight: 300;
    font-family: 'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: 60px; }
    .footer-sub__submit.btn {
      padding: 5px; }
  
  .footer-sub__extra {
    font-size: 16px;
    line-height: 20px;
    max-width: 1000px;
    padding: 0 20px;
    margin: auto; }
  
  .footer--with-bg {
    position: relative;
    overflow: hidden; }
    .footer--with-bg .footer__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1; }
  
  @media (max-width: 1440px) {
    .footer__title {
      font-size: 120%; }
    .footer__info {
      font-size: 18px; } }
  
  @media (max-width: 1200px) {
    .footer__info {
      font-size: 16px; }
    .footer__bot {
      font-size: 80%; } }
  
  @media (max-width: 1024px) {
    .footer__col {
      width: 30%; }
    .soc__link {
      width: 120px;
      height: 120px;
      background-size: auto 240%; }
    .soc__link--tw:hover {
      background-position: 0 -167px; }
    .soc__link--fb {
      background-position: -171px 0; }
      .soc__link--fb:hover {
        background-position: -171px -167px; }
    .soc__link--in {
      background-position: -341px 0; }
      .soc__link--in:hover {
        background-position: -341px -167px; }
    .soc__link--vk {
      background-position: -512px 0; }
      .soc__link--vk:hover {
        background-position: -512px -167px; } }
  
  @media (max-width: 768px) {
    .footer__contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__col {
      border-right: none;
      width: 94%;
      text-align: center;
      border-bottom: 2px solid #ff5c4b;
      margin-bottom: 20px;
      padding-bottom: 30px;
      margin-left: 3%;
      margin-right: 3%; }
      .footer__col:last-child {
        border-bottom: none; }
    .footer__title.title {
      text-align: center; }
    .soc {
      -webkit-transform: scale(0.7);
              transform: scale(0.7); }
    .footer-sub__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer-sub__input {
      width: 100%; }
    .footer-sub__title {
      width: 100%;
      padding: 0 20px; } }
  
  @media (max-width: 564px) {
    .soc {
      -webkit-transform: scale(0.5);
              transform: scale(0.5); } }
  
  .popup-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    display: none; }
  
  .popup-form .inner {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #8b7992;
            box-shadow: 0 0 10px #8b7992; }
  
  .popup-form .inner .popup-title {
    padding: 16px;
    background: #F5F5F5;
    border-bottom: 1px solid #E1E1E1; }
  
  .popup-form .inner .popup-text {
    text-align: center;
    padding: 30px 80px;
    font-size: 18px; }
  
  .popup-form .inner .popup-footer {
    padding: 16px;
    background: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  
  .popup-form .inner .popup-footer .popup-close {
    display: inline-block;
    padding: 8px 16px;
    background: #ff5c4b;
    color: #fff;
    border-radius: 4px; }
  
  @media (max-width: 468px) {
    .big h1 {
      font-size: 30px !important;
      line-height: 1 !important; } }
  
  .a-popup-block {
    display: none; }
  
  .popup-footer.popup-footer-margin-fix {
    margin: 30px -80px -80px; }
  
  .a-popup-close {
    background-color: #c1c1c1 !important;
    margin-right: 5px;
    cursor: pointer; }
  
  .popup-close {
    border: none; }
  
  .popup-form.red {
    background: #ff5c4b;
    color: #fff; }
  
  .popup-form .inner {
    overflow: hidden;
    position: relative; 
    max-width: 850px;
  }
  
  .popup-form .close {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 53px;
    height: 53px;
    background: url("../images/close.png") no-repeat;
    cursor: pointer;
    z-index: 1; }
  
  .popup-form.red .close {
    background-image: url("../images/close-white.png"); }
  
  .popup-form .title {
    font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
    font-size: 200%;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 100px 10% 50px; }
  
  .popup-form .title.big {
    font-size: 200%; }
  
  .popup-form .title::-moz-selection {
    color: #ff5c4b; }
  
  .popup-form .title::selection {
    color: #ff5c4b; }
  
  .popup-form .descr {
    color: #696969;
    font-size: 200%;
    line-height: 1.2em;
    margin: 0 0 40px; }
  
  .popup-form form {
    width: 850px;
    margin: 0 auto 50px; }
  
  .popup-form .row {
    margin-bottom: 28px; }
  
  .popup-form .row.left {
    float: left; }
  
  .popup-form .row.right {
    margin-left: 432px; }
  
  .popup-form .row.left input,
  .popup-form .row.right input {
    width: 359px; }
  
  .popup-form input,
  .popup-form textarea {
    text-transform: uppercase;
    border-radius: 8px; }
  
  .popup-form .text input,
  .popup-form textarea {
    border: 2px solid #a4a4a4;
    height: 60px;
    width: 790px;
    padding: 0 25px; }
  
  .popup-form textarea {
    resize: none;
    padding: 10px 25px;
    height: 90px; }
  
  .popup-form .submit input {
    border: 2px solid #ff5c4b;
    height: 60px;
    width: 790px;
    padding: 0 25px;
    text-align: center;
    color: #a4a4a4;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  
  .popup-form .submit input:hover {
    background: #ff5c4b;
    color: #fff; }
  
  .popup-form .soc-title {
    font-size: 150%;
    margin: 0 0 40px;
    color: #696969; }
  
  .popup-form .btn a {
    border: 2px solid #ff5c4b; }
  
  .popup-form#geo {
    background-image: url("../images/geo-bg.png");
    background-position: 50% 30%;
    background-repeat: no-repeat; }
  
  .hero {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .hero--main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px; }
  
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    padding: 20px;
    line-height: 150%;
    text-align: center; }
    .hero__inner--main {
      font-size: 200%;
      border-top: 2px solid #ff5c4b;
      border-bottom: 2px solid #ff5c4b;
      font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
      width: 100%;
      text-transform: uppercase; }
      .hero__inner--main > * {
        max-width: 1000px; }
      .hero__inner--main .title {
        line-height: 110%;
        font-size: 400%; }
    .hero__inner--consult .title {
      font-size: 450%;
      line-height: 140%;
      margin-bottom: 30px; }
    .hero__inner--consult p {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 35px;
      font-weight: 400; }
    .hero__inner--consult .btn {
      margin-top: 60px;
      background-color: #ff5c4b;
      color: white; }
    .hero__inner--consult-inner {
      padding: 50px;
      padding-top: 10%; }
      .hero__inner--consult-inner .title {
        font-size: 300%;
        line-height: 140%;
        margin-bottom: 30px; }
    .hero__inner--about {
      font-size: 200%;
      text-transform: uppercase; }
      .hero__inner--about .btn {
        margin-top: 30px;
        font-size: 22px;
        color: white;
        background-color: #ff5c4b; }
  
  .hero-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #fff;
    width: 100%;
    margin-top: 50px; }
  
  .hero-services__item {
    width: 33.33%; }
  
  .hero-service {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .hero-service:hover {
      background: rgba(0, 0, 0, 0.7); }
  
  .hero-service__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 110%;
    margin-bottom: 10px; }
  
  .hero-service__title {
    font-weight: 500;
    margin-right: 10px; }
  
  .hero-service__btn {
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  
  .hero-service:hover .hero-service__btn {
    opacity: 1; }
  
  .hero-search {
    color: #fff;
    padding: 140px 5% 110px;
    text-align: center;
    position: relative; }
    .hero-search .image-fallback {
      z-index: -1;
      top: 0; }
  
  .hero-search__title {
    font-size: 400%;
    margin-bottom: 60px; }
    .hero-search__title.title {
      color: white; }
  
  .search-field {
    width: 60%;
    position: relative;
    margin: auto;
    line-height: 48px;
    height: 48px; }
  
  .search-field__input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 14px;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    background-color: transparent;
    text-align: left;
    outline: none;
    font-size: 130%;
    padding-left: 150px;
    padding-right: 140px;
    z-index: 1; }
  
  .search-field__placeholder {
    position: absolute;
    left: 14px;
    opacity: .5;
    font-size: 130%;
    z-index: 0; }
  
  .search-field__reset {
    z-index: 1;
    position: absolute;
    right: 100px;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: none;
    background: url(../images/clear-ico.png) no-repeat 50% 50%;
    border: none; }
  
  .search-field__submit {
    z-index: 1;
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    line-height: 48px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 120%;
    padding-left: 15px;
    border-left: 1px solid #fff; }
  
  #hero-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; }
  
  /* @media (max-width: 1440px) {
    .hero__inner--main.hero__inner {
      font-size: 150%; } } */
  
  @media (max-width: 1200px) {
    .hero-service__row {
      font-size: 90%; }
    .hero-services__item {
      width: 40%; }
    .hero__inner {
      padding: 20px; }
      .hero__inner--about {
        font-size: 150%; } }
  
  @media (max-width: 1024px) {
    .hero-search__title {
      font-size: 300%; }
    .hero__inner--about {
      font-size: 120%; }
    .hero-services__item {
      width: 50%; }
    .hero__inner--consult-inner {
      padding: 20px; } }
  
  @media (max-width: 768px) {
    .hero__inner {
      font-size: 100%;
      left: 10px;
      right: 10px; }
      .hero__inner .title {
        font-size: 250%; }
    .hero-search__title {
      font-size: 200%; }
    .search-field {
      width: 100%; }
    .search-field__placeholder {
      font-size: 100%; }
    .search-field__input {
      padding: 0;
      padding-left: 120px;
      font-size: 110%;
      padding-right: 40px; }
    .search-field__reset {
      right: 0; }
    .search-field__submit {
      display: none; }
    .hero-services__item {
      width: 100%; }
    /* .hero__inner--main.hero__inner {
      font-size: 90%; } */
    .hero--main {
      padding: 0 5px; }
    .hero__inner--about {
      padding-top: 90px; }
      .hero__inner--about .title {
        font-size: 110%; } }
  
  .main-grid {
    display: block; }
  
  .main-grid-item {
    width: 36%;
    display: block;
    float: left;
    text-decoration: none;
    color: #7f7f7f;
    height: 412px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #3faca6; }
    .main-grid-item .title {
      font-size: 280%;
      line-height: 120%; }
  
  .main-grid-item:hover .main-grid-item__front {
    opacity: 0; }
  
  .main-grid-item:hover .main-grid-item__back {
    opacity: 1; }
  
  .main-grid-item__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  
  .main-grid-item__front {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative; }
    .main-grid-item__front::after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #a52c25;
      content: '';
      opacity: .3;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  
  .main-grid-item__back {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-grid-item__back p {
      margin: 20px; }
  
  .main-grid__col {
    width: 100%; }
  
  .main-grid-item--center {
    line-height: 150%;
    text-align: left;
    font-weight: 400;
    line-height: 150%;
    padding: 0 2%; }
    .main-grid-item--center .main-grid-item__front {
      font-family: 'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
      .main-grid-item--center .main-grid-item__front::after {
        display: none; }
      .main-grid-item--center .main-grid-item__front .title {
        font-family: 'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size: 300%; }
    .main-grid-item--center:hover .main-grid-item__front {
      opacity: 1; }
  
  .main-grid-item--x2height {
    height: 824px; }
  
  .main-grid-item--w64 {
    width: 64%; }
  
  .main-grid-item--w28 {
    width: 28%; }
  
  .main-grid_services {
    background: #ff5c4b; }
    .main-grid_services .main-grid__row {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .main-grid_services .main-grid-item {
      float: none;
      width: 33.333%;
      border: .5px solid white; }
      .main-grid_services .main-grid-item p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400; }
    .main-grid_services .title {
      font-size: 150%; }
  
  @media (max-width: 1200px) {
    .main-grid--index .title {
      font-size: 200%; }
    .main-grid-item--center .main-grid-item__front .title {
      font-size: 200%; } }
  
  @media (max-width: 940px) {
    /* .main-grid-item {
      width: 50%;
      height: 250px; } */
      /* .main-grid-item--x2height {
        height: 250px; } */
    .main-grid-item--center .main-grid-item__front .title {
      font-size: 250%; }
    .main-grid-item .title {
      font-size: 150%; }
    .main-grid-item__back p {
      margin: 10px; }
    .main-grid_services .main-grid-item {
      width: 50%; } }
  
  @media (max-width: 768px) {
    .main-grid-item {
      width: 100%;
      height: 300px; }
    .main-grid_services .main-grid-item {
      width: 100%; } }
  
  .slider {
    height: auto;
    padding-bottom: 61px; }
    .slider * {
      outline: none; }
  
  .slide {
    outline: none; }
  
  .slick-arrow {
    outline: none;
    text-indent: -9999px;
    position: absolute;
    bottom: 0;
    top: -56px;
    margin: auto;
    width: 36px;
    height: 70px;
    border: none;
    background: url(../images/arrs.png) no-repeat;
    z-index: 1;
    cursor: pointer; }
  
  .slick-prev {
    left: 0px; }
  
  .slick-next {
    right: 0;
    background-position: -48px 0; }
  
  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto; }
    .slick-dots button {
      outline: none;
      display: block;
      width: 22px;
      height: 26px;
      border: none;
      background-color: transparent;
      font-size: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../images/slider-pagination-item.png");
      cursor: pointer;
      margin: 5px 7px; }
      .slick-dots button:hover {
        background-image: url("../images/slider-pagination-item-active.png"); }
    .slick-dots .slick-active button {
      background-image: url("../images/slider-pagination-item-active.png"); }
  
  .customers {
    background: white; }
  
  .customers__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 90px; }
  
  .customers__title {
    color: #7f7f7f;
    text-align: center;
    font-size: 200%;
    padding: 40px 0; }
  
  .customers__col {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 50%;
    padding: 0 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid #C4C4C4; }
    .customers__col:last-child {
      border-right: none; }
  
  .customers-slider .slider__slide-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .customers-slider .slider__slide {
    outline: none; }
    .customers-slider .slider__slide img {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding: 2%;
      width: 100%;
      height: 200px;
      max-width: 30%;
      -o-object-fit: contain;
         object-fit: contain; }
  
  .articles {
    background: #fff;
    padding: 50px 4%;
    border-bottom: 1px solid #a4a4a4; }
  
  .articles__title {
    font-size: 350%;
    line-height: 110%;
  }
  
  .articles__inner {
    position: relative; }
  
  .articles-slider {
    padding: 0 80px;
    height: calc(100% + 61px); }
    .articles-slider .slick-dots {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-transform: translateX(-7px);
              transform: translateX(-7px);
      right: auto;
      left: 0;
      padding: 0 80px; }
  
  .articles-slide {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 61px; }
  
  .articles-slide__left {
    width: 45%;
    color: #2e2e2e; }
  
  .articles-slide__title {
    font-size: 140%;
    line-height: 120%;
    font-weight: 400;
    margin: 30px 0 20px; }
  .articles-slide__title .page__link{
    text-decoration: none;
    color: inherit;
  }
  
  .articles-slide__btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -20px;
    text-transform: uppercase; }
  
  .articles-slide__right {
    overflow: hidden;
    width: 50%; }
    .articles{
      &.articles-animate{
        &.animated{
          .articles__title,
          .articles__slider{
            animation-name: fadeInRightBig;
            animation-duration: 1s;
            animation-fill-mode: both;
          }
          .articles__slider{
            animation-delay: .5s;
          }
        }
      }
    }
  .services-slider {
    background-color: #ff5c4b;
    padding: 48px 50px 44px;
    color: #FFF;
    overflow: hidden; }
  
  .services-slider__slider.slider {
    padding: 0; }
  
  .services-slider__slider .slick-arrow {
    top: 0;
    left: -20px;
    background: url("../images/arrs-white.png"); }
  
  .services-slider__slider .slick-next {
    left: auto;
    right: -20px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  
  .service-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px; }
  
  .service-filter__title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
    max-width: 300px;
    text-align: center; }
  
  .service-filter-control {
    width: 145px;
    height: 35px;
    position: relative;
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .service-filter-control input {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      cursor: pointer;
      margin: 0; }
    .service-filter-control input:checked + span {
      left: calc(100% - 32px); }
      .service-filter-control input:checked + span + div {
        color: black;
        background: white; }
        .service-filter-control input:checked + span + div span:first-child {
          display: none; }
        .service-filter-control input:checked + span + div span:last-child {
          display: block; }
  
  .service-filter-control__text {
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    line-height: 37px;
    font-size: 90%;
    z-index: 0; 
    span{
      &:first-child{
        position: relative;
        left: 5px;
      }
    }
  }
    .service-filter-control__text span:last-child {
      display: none; }
  
  .service-filter-control__track {
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    width: 33px;
    height: 33px;
    background: url(../images/radio-btn.png) no-repeat 50% 50% #fff;
    padding: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    z-index: 1; }
  
  .testimonials {
    background-color: #ff5c4b;
    color: #fff;
    text-align: center;
    overflow: hidden; }
  
  .testimonials__inner {
    padding: 90px 0; }
  
  .testimonials__title {
    font-size: 300%; 
  }
  
  .testimonials__dec {
    display: inline-block;
    font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
    font-size: 170px;
    font-style: normal;
    line-height: 135px;
    margin: 25px 0 70px 0;
    max-height: 52px;
    opacity: 0.1;
    vertical-align: top; 
  }
  
  .testimonials__slider {
    padding: 0 20%;
    padding-bottom: 61px; }
    .testimonials__slider .slick-arrow {
      top: 0;
      left: 40px;
      background: url("../images/arrs-white.png"); }
    .testimonials__slider .slick-next {
      left: auto;
      right: 40px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .testimonials__slider .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
      .testimonials__slider .slick-dots button {
        background-image: url("../images/slider-pagination-item-white.png"); }
        .testimonials__slider .slick-dots button:hover {
          background-image: url("../images/slider-pagination-item-white-active.png"); }
      .testimonials__slider .slick-dots .slick-active button {
        background-image: url("../images/slider-pagination-item-white-active.png"); }
  
  .testimonial__author {
    margin-top: 40px;
    font-weight: 500; }
  
  .team {
    position: relative;
    text-align: center;
    padding-top: 1px;
    color: #ff5c4b; }
  
  .team__title {
    font-size: 400%;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1; }
  
  .team__inner {
    padding-bottom: 60px; }
  
  .team__slider {
    max-width: 1480px;
    margin: auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 50px; }
  
  .team__slide-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 60px; }
  
  .team-member {
    position: relative;
    width: 246px;
    height: 229px;
    border: .5px solid white; }
    .team-member::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #ff5c4b;
      opacity: .5;
      content: '';
      -webkit-transition: opacity 100ms ease-in-out;
      transition: opacity 100ms ease-in-out; }
    .team-member:hover::after {
      display: none; }
    .team-member:hover .team-member__img img {
      height: 289px; }
    .team-member:hover .team-member__img img:last-child {
      z-index: 1; }
    .team-member:hover .team-member__name {
      z-index: 1;
      display: block; }
  
  .team-member__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  
  .team-member__img img:last-child {
    z-index: -1; }
  
  .team-member__name {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -45px;
    font-size: 15px;
    padding: 12px 0;
    line-height: 1em;
    text-transform: uppercase;
    background: #fff;
    color: #2e2e2e;
    border-radius: 4px;
    z-index: -1;
    display: none; }
  
  .serts {
    background-color: #ff5c4b;
    text-align: center;
    color: white;
    padding: 80px 0; }
  
  .serts__title {
    font-size: 400%;
    padding-bottom: 60px; }
  
  .serts-slider {
    overflow: hidden;
    padding: 0 10%;
    padding-bottom: 61px; }
    .serts-slider .slick-arrow {
      top: 0;
      left: 40px;
      background: url("../images/arrs-white.png"); }
    .serts-slider .slick-next {
      left: auto;
      right: 40px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .serts-slider .slick-dots button {
      background-image: url("../images/slider-pagination-item-white.png"); }
      .serts-slider .slick-dots button:hover {
        background-image: url("../images/slider-pagination-item-white-active.png"); }
    .serts-slider .slick-dots .slick-active button {
      background-image: url("../images/slider-pagination-item-white-active.png"); }
  
  .serts-slider__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .serts-slider__inner img {
      margin: 2px; }
  
  @media (max-width: 1440px) {
    .customers-slider .slider__slide img {
      height: 140px; }
    .articles-slide__title {
      font-size: 140%; } }
  
  @media (max-width: 1024px) {
    .articles-slider .slick-dots {
      padding: 0px;
      padding-left: 50px; } }
  
  @media (max-width: 768px) {
    .customers__title {
      padding: 20px 0; }
    .customers__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 40px; }
    .customers__col {
      width: 100%;
      padding-bottom: 40px; }
    .customers-slider .slider__slide img {
      height: 140px; }
    .articles__title {
      font-size: 240%; }
    .articles-slider.slider {
      padding: 0 30px;
      height: calc(100% + 251px); }
    .articles-slider .articles-slide {
      padding-bottom: 140px; }
    .articles-slider .slick-dots {
      -webkit-transform: none;
              transform: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      right: 0;
      left: 0;
      width: 100%;
      padding: 0; }
    .articles-slider .slick-arrow {
      display: none !important; }
    .articles-slide__left {
      width: 100%; }
    .articles-slide__right {
      display: none; }
    .articles-slide__btn {
      left: 50%;
      bottom: 60px; }
    .services-slider__slider .slick-arrow {
      left: -40px; }
    .services-slider__slider .slick-next {
      left: auto;
      right: -40px; }
    .serts__slider, .testimonials__slider {
      padding: 0 20px;
      padding-bottom: 61px; }
      .serts__slider .slick-arrow, .testimonials__slider .slick-arrow {
        display: none !important; }
    .testimonials__title.title {
      font-size: 300%; }
    .serts__title.title {
      font-size: 220%;
     } }
  
  .event {
    padding: 130px 30px;
    
    margin: auto; }
  
  .event__title {
    margin: 20px 0; 
    line-height: 1em;
  }
  
  .event__date {
    font-size: 200%;
    font-weight: 400;
    color: #696969;
    margin: 10px 0 30px 0px;
    text-align: center; }
  
  .event__img {
    margin-bottom: 40px; }
    .event__img img {
      -o-object-fit: contain;
         object-fit: contain;
      margin: auto;
      display: block;
      width: 100%; }
  
  .event__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  
  .event__content {
    margin-right: 20px; }
    .event__content p {
      text-align: justify;
      color: #2e2e2e;
     }
  
  .event__sidebar {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 263px; }
  
  .event__btn {
    margin-bottom: 20px; }
    .event__btn.btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px; }
    .event__btn.event__btn--grey {
      border-color: #2e2e2e; 
      color: #2e2e2e;
    }
      .event__btn.event__btn--grey:hover {
        background-color: #a4a4a4; }
    .event__btn:last-child {
      margin-bottom: 40px; }
  
  .event-info__author {
    margin-bottom: 40px; }
  
  .event-info__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  
  .event-info__title {
    font-size: 16px;
    margin-right: 15px; }
  
  .event-info__desc {
    font-size: 18px;
    font-weight: bold; }
  
  .event-info__item {
    font-size: 22px;
    display: block;
    padding-left: 65px;
    color: inherit;
    text-decoration: none;
    position: relative; }
    .event-info__item::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  
  .event-info__item--time::after {
    // background-image: url(../images/time-ico.png); 
    background-image: url(../images/time-ico.svg); 
  }
  
  .event-info__item--place::after {
    // background-image: url(../images/address-ico.png); 
    background-image: url(../images/address-ico.svg); 
  }
  
  .event-info__item--views::after {
    // background-image: url(../images/views-big-ico.png); 
    background-image: url(../images/views-big-ico.svg); 
  }
  .event-info__item_downloads::after {
    // background-image: url(../images/downloads-ico.png);
    background-image: url(../images/downloads-ico.svg);
    background-size: 60%;
  
  }
  
  .event-info__item--print::after {
    // background-image: url(../images/print-ico.png); 
    background-image: url(../images/print-ico.svg); 
  }
  
  @media (max-width: 768px) {
    .event__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .event__sidebar {
      width: auto;
      margin-top: 60px; }
    .event__content {
      margin-right: 0; } }
  
  .infograhics {
    background-color: white; }
  
  .infograhics__inner {
    text-align: center;
    padding: 30px 5px;
    overflow: hidden;
    position: relative; }
  
  .infograhics-item {
    float: left;
    padding: 5px;
    height: 250px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 25%;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .infograhics-item:hover {
      background: #ffffff;
      -webkit-box-shadow: 5px 5px 15px #444444;
              box-shadow: 5px 5px 15px #444444;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      z-index: 1000;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .infograhics-item--wx2 {
      width: 50%; }
    .infograhics-item--hx2 {
      height: 500px; }
      .infograhics-item--hx2.infograhics-item--top-shift {
        margin-top: -250px; }
  
  .infograhics-item:nth-child(1):hover,
  .infograhics-item:nth-child(4):hover,
  .infograhics-item:nth-child(12):hover,
  .infograhics-item:nth-child(16):hover {
    -webkit-transform: scale(1.1) translate(4%);
            transform: scale(1.1) translate(4%); }
  
  .infograhics-item:nth-child(3):hover,
  .infograhics-item:nth-child(7):hover,
  .infograhics-item:nth-child(9):hover,
  .infograhics-item:nth-child(11):hover,
  .infograhics-item:nth-child(15):hover,
  .infograhics-item:nth-child(18):hover {
    -webkit-transform: scale(1.1) translate(-4%);
            transform: scale(1.1) translate(-4%); }
  
  .infograhics-item__img {
    border-radius: 4px;
    border: 1px solid #66696a;
    padding: 5px;
    width: 100%;
    height: 100%; }
    .infograhics-item__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  
  @media (max-width: 768px) {
    .infograhics-item {
      height: 150px; }
      .infograhics-item--hx2 {
        height: 300px; }
        .infograhics-item--hx2.infograhics-item--top-shift {
          margin-top: -150px; } }
  
  .sale {
    background-color: white; }
  
  .sale__inner {
    padding: 170px 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  
  .sale__text {
    width: 42%;
    color: #7f7f7f; }
    .sale__text h1 {
      font-size: 140%;
      line-height: 120%;
      font-weight: 400;
      margin: 30px 0 20px;
     }
    .sale__text p {
      line-height: 130%;
       }
  
  .sale__img {
    width: 53%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 40px; }
  
  @media (max-width: 1440px) {
    .sale__text h1 {
      font-size: 28px; }
   }
  
  @media (max-width: 1200px) {
    .sale__inner {
      padding-top: 100px;
      padding-left: 80px;
      padding-right: 80px; } }
  
  @media (max-width: 800px) {
    .sale__img {
      display: none; }
    .sale__text {
      width: 100%; } }
  
  @media (max-width: 400px) {
    .sale__inner {
      padding-top: 20px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px; } }
  
  .steps-slider {
    background-color: #ff5c4b;
    padding-bottom: 80px; }
  
  .steps-slider__main-title {
    padding-top: 66px;
    font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    line-height: 53px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); }
  
  .steps-slider__slide {
    outline: none; }
  
  .steps-slider__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1156px;
    margin: auto; }
  
  .steps-slider__img {
    padding-left: 52px; }
  
  .steps-slider__text {
    padding-left: 8%;
    color: #fff; }
    .steps-slider__text ul {
      margin-bottom: 45px; }
    .steps-slider__text li {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 8px; }
      .steps-slider__text li span {
        padding-left: 35px;
        position: relative;
        display: block; }
        .steps-slider__text li span::after {
          content: '';
          width: 12px;
          height: 12px;
          background: url("../images/steps-slider/ar.svg") center no-repeat;
          background-size: contain;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
  
  .steps-slider__title {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    padding-left: 35px; }
  
  .steps-slider__body {
    padding-top: 242px; }
    .steps-slider__body .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 100%;
      top: 0; }
      .steps-slider__body .slick-dots > li {
        width: 10%; }
      .steps-slider__body .slick-dots .slick-active .customDot-js {
        border-bottom: 1px solid transparent; }
  
  .customDot-js {
    text-align: center;
    width: 100%;
    height: 190px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    cursor: pointer; }
  
  .customDot-js__img {
    margin-bottom: 20px;
    height: 76px; }
  
  .customDot-js__caption {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold; }
  
  .mobile-accordion-head {
    display: none;
    cursor: pointer; }
  
  @media (max-width: 1630px) {
    .steps-slider__body .slick-dots > li {
      width: 12%; } }
  
  @media (max-width: 1440px) {
    .steps-slider__body .slick-dots > li {
      width: 14%; } }
  
  @media (max-width: 1200px) {
    .steps-slider__body .slick-dots > li {
      width: 16%; }
    .customDot-js {
      height: 140px; }
    .customDot-js__img {
      height: 60px;
      margin-bottom: 14px; }
      .customDot-js__img img {
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
    .customDot-js__caption {
      font-size: 16px;
      line-height: 18px; } }
  
  @media (max-width: 768px) {
    .steps-slider__main-title {
      font-size: 28px;
      line-height: 30px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 42px;
      margin-bottom: 0; }
    .customDot-js__caption {
      font-size: 14px;
      line-height: 16px; }
    .steps-slider__body {
      padding-top: 0; }
    .steps-slider__img {
      padding-left: 0; }
    .mobile-accordion-head {
      display: block;
      padding: 16px;
      padding-left: 54px;
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      font-weight: bold;
      position: relative; }
      .mobile-accordion-head::before {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px; }
      .mobile-accordion-head::after {
        position: absolute;
        width: 33px;
        height: 33px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        background-image: url(../images/steps-slider/ar2.svg); }
      .mobile-accordion-head.mobile-accordion-head--step1::before {
        background-image: url(../images/steps-slider/11.svg); }
      .mobile-accordion-head.mobile-accordion-head--step2::before {
        background-image: url(../images/steps-slider/22.svg); }
      .mobile-accordion-head.mobile-accordion-head--step3::before {
        background-image: url(../images/steps-slider/33.svg); }
      .mobile-accordion-head.mobile-accordion-head--step4::before {
        background-image: url(../images/steps-slider/44.svg); }
      .mobile-accordion-head.mobile-accordion-head--step5::before {
        background-image: url(../images/steps-slider/55.svg); }
      .mobile-accordion-head.mobile-accordion-head--step6::before {
        background-image: url(../images/steps-slider/66.svg); }
    .mobile-accordion-body {
      border-top: 1px solid white;
      padding: 0 16px; }
      .mobile-accordion-body:last-child {
        border-bottom: 1px solid white; }
    .steps-slider__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: none; }
    .mobile-accordion-body.active .steps-slider__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .mobile-accordion-body.active .mobile-accordion-head::after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .steps-slider__title {
      font-size: 18px;
      line-height: 21px; }
    .steps-slider__text {
      padding-top: 44px;
      padding-left: 44px;
      padding-right: 30px; }
      .steps-slider__text li {
        font-size: 16px;
        line-height: 19px; } }
  
  @media (max-width: 400px) {
    .steps-slider__main-title {
      font-size: 23px; } }
  
  input {
    font: 300 16px/22px 'Roboto', Arial, sans-serif; }
  
  ul {
    list-style: none; }
  
  img {
    max-width: 100%; }
  
  body {
    font: 300 16px/22px  'Roboto', Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
   
    background: #fff;
    color: #2e2e2e;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; }
  
  .contrast-view {
    position: relative; }
    .contrast-view::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-image:url(../images/net-segment-1x1.png);
      background-repeat:repeat;
      }
  
  .fixed-view {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
    .fixed-view img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      -o-object-fit: cover;
         object-fit: cover; }
  
  .logo {
    display: block;
    width: 232px;
    // height: 54px;
    min-height: 65px;
    background: url(../images/logo.svg) no-repeat 0 0/100% auto; }
  
  .title {
    font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-align: center; }
  
  .white {
    color: #fff; }
  
  .red {
    color: #ff5c4b; }
  
  .section-title {
    background: white;
    color: white;
    text-align: center;
    padding: 30px 5%; }
    .section-title--red {
  
      background: #ff5c4b; }
      .section-title--red .section-title__title a {
        color: white; }
      .section-title--red .section-title__desc {
        color: white; }
    .section-title--transparent {
      background: transparent;
      padding: 90px 5% 70px; }
      .section-title--transparent .section-title__title a {
        color: #fff; }
      .section-title--transparent .section-title__desc {
        color: #ff5c4b; }
  
  .section-title__title {
    color: #ff5c4b;
    font-size: 550%;
    margin-bottom: 20px; }
    .section-title__title{
      font-size: inherit;
      margin-bottom: 0;
    }
  .section-title__title h2 {
      font-size: 450%;
      line-height: 150%;
      margin: 0 0 20px;
  }
    .section-title__title a {
      text-decoration: none;
      color: #ff5c4b; }
  
  .section-title__desc {
    margin-bottom: 20px;
    font-size: 22px;
    left: 32px;
    color: #000; }
  
  .btn {
    display: inline-block;
    border: 1px solid #ff5c4b;
    text-decoration: none;
    font-size: 120%;
    line-height: 2em;
    color: inherit;
    padding: 0 25px;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    word-wrap: none; }
    .btn:hover {
      color: #fff;
      background: #ff5c4b; }
  
  .clearfix {
    overflow: auto; }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table; }
  
  .counter {
    width: 92px;
    position: relative;
    height: 40px;
    overflow: hidden;
    border-radius: 4px; }
    .counter > * {
      outline: none; }
    .counter input {
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      background: none;
      left: 0;
      top: 0;
      border: 1px solid white;
      padding-right: 45px;
      text-align: center; }
  
  .counter__minus {
    position: absolute;
    width: 45px;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0.8); }
    .counter__minus::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-image: url("../images/ar.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  
  .counter__plus {
    position: absolute;
    width: 45px;
    height: 50%;
    right: 0;
    top: 0;
    z-index: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid white; }
    .counter__plus::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-image: url("../images/ar.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto; }
  
  .video-about {
    background: #ff5c4b;
    position: relative;
    text-align: center;
    padding: 150px 20px 50px;
    color: #fff; }
    .video-about iframe {
      width: 100%;
      height: 540px; }
  
  .video-about__inner {
    /* max-width: 1000px; */
    margin: auto; }
  
  .image-fallback {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  
  .youtube-player {
    position: relative;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px; }
  
  .youtube-player iframe,
  .youtube-player object,
  .youtube-player embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: 100;
    background: transparent; 
    height: 540px;
  }
  
  .youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: .4s all;
    transition: .4s all; 
  }
  
  .youtube-player img:hover {
    -webkit-filter: brightness(75%); }
  
  .youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer; }
  
  @media (max-width: 1920px) {
    /* p {
      font-size: 22px;
      line-height: 32px; }  */
    }
    
  /*
  *Start @media max-width: 1600px 
  */
  @media (min-width: 1600px) {
    body {
        font-size: 22px;
        line-height: 32px
    }
  }
  /*
  *End @media max-width: 1600px 
  */  
  /*
  *Start @media min-width: 1280px 
  */
  @media (min-width: 1280px) {
    body {
        font-size: 18px;
        line-height: 26px
    }
  }
  /*
  *End @media min-width: 1280px 
  */
  
  
      
  @media (max-width: 1024px) {
    p {
      line-height: 20px;
      font-size: 16px; }
    .articles {
      padding: 50px 2%; }
    .articles-slider {
      padding: 0 50px; } }
  /*
  *Start @media max-width: 800px 
  */
  @media (max-width: 800px){
    .section-title__title h2{
      font-size: 350%;
  }
  /*
  *End @media max-width: 800px 
  */
  
  
  
  }
  @media (max-width: 768px) {
    .logo {
      width: 185px;
      height: 48px; }
    .section-title__title {
      font-size: 200%; }
    .section-title__title h2{
        font-size: 250%;
    }
    .section-title__desc {
      font-size: 18px; }
    p {
      line-height: 20px;
      font-size: 16px; } }
  @media (max-width: 500px) {
      .section-title__title h2{
        font-size: 250%;
    }
  }
  @media (max-width: 400px) {
    .title {
      font-size: 150%; }
    .section-title__title {
      font-size: 200%; }
    .btn {
      font-size: 100%;
      text-align: center; } }
  
  @media print {
    body * {
      color: black !important;
      margin: 0 !important;
      margin-bottom: 20px !important;
      padding: 0 !important; }
      body * .title {
        font-size: 24px;
        text-align: left; }
      body * .slick-track {
        width: 100% !important;
        -webkit-transform: none !important;
                transform: none !important; }
    .header,
    .footer,
    form,
    .btn,
    .footer-sub,
    .hero-search__title {
      display: none !important; } 
      .event__info >.event-info__row{
        display: none !important;
      }
    }
  .youtube-player > div{
    height: 540px;
  }
  .bottom-nav {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 62px;
    z-index: 10
}
.bottom-nav a {
    float: left;
    width: 62px;
    height: 62px;
    background: url("../images/nav-icons.png") no-repeat #ff5c4b;
    text-decoration: none
}
.bottom-nav a.bell {
    background-position: 9px 11px
}
.bottom-nav a.next {
    background-position: -106px 13px
}
.document-bottom .bottom-nav a.next {
    background-position: -45px 13px
}
.bottom-nav a.bell {
    float: right
}
@media (max-width: 1023px) {
    .bottom-nav {
        height: 50px
    }
    .bottom-nav a {
        width: 50px;
        height: 50px;
        background-size: auto 60%
    }
    .bottom-nav a.bell {
        background-position: 6px 9px
    }
    .bottom-nav a.next {
        background-position: -88px 11px
    }
    .document-bottom .bottom-nav a.next {
        background-position: -37px 11px
    }
}