.sale__inner{
    padding: 50px 30px;
}
.sale__text,
.sale__img{
    padding-top: 50px;
}
.sale__text{
    padding-left: 7%;
}
.sale__img{
    padding-right: 7%;
}
.modal-order{
    .toggles{
        display: flex;
        justify-content: flex-end;  
        padding: 15px 15px;
        background: #eee;
        .btn{
            cursor: pointer;
            margin: 0 5px;
            &_red{
                background-color: #ff5c4b;
                color: #fff;
                &:hover{
                    background-color: #fff;
                    color: #ff5c4b;
                };
            }
        }
     
    }
    .popup-form__header{
        padding: 15px;
        background: #eee;
        margin-bottom: 20px;
    }
    &.popup-form {
        .text input, textarea{  
             width: 100%;
        }
        .row.text{
            &.left,
            &.right{
                width: 49%;
                margin-left: 0;
                margin-right: 5px;
                display: inline-block;
            }
            &.right{
                &:last-child{
                    margin-right: -5px;
                }
            }
        }
    }
    form{
        padding: 0 50px;
    }
    .close{
        right: 0;
        top: 10px;
        background-size: 70%;
    }
}