.slider {
  height: auto;
  padding-bottom: 61px; }
  .slider * {
    outline: none; }

.slide {
  outline: none; }

.slick-arrow {
  outline: none;
  text-indent: -9999px;
  position: absolute;
  bottom: 0;
  top: -56px;
  margin: auto;
  width: 36px;
  height: 70px;
  border: none;
  background: url(../images/arrs.png) no-repeat;
  z-index: 1;
  cursor: pointer; }

.slick-prev {
  left: 0px; }

.slick-next {
  right: 0;
  background-position: -48px 0; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .slick-dots button {
    outline: none;
    display: block;
    width: 22px;
    height: 26px;
    border: none;
    background-color: transparent;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/slider-pagination-item.png");
    cursor: pointer;
    margin: 5px 7px; }
    .slick-dots button:hover {
      background-image: url("../images/slider-pagination-item-active.png"); }
  .slick-dots .slick-active button {
    background-image: url("../images/slider-pagination-item-active.png"); }

.customers {
  background: white; }

.customers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 90px; }

.customers__title {
  color: #7f7f7f;
  text-align: center;
  font-size: 200%;
  padding: 40px 0; }

.customers__col {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #C4C4C4; }
  .customers__col:last-child {
    border-right: none; }

.customers-slider .slider__slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.customers-slider .slider__slide {
  outline: none; }
  .customers-slider .slider__slide img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 2%;
    width: 100%;
    height: 200px;
    max-width: 30%;
    -o-object-fit: contain;
       object-fit: contain; }

.articles {
  background: #fff;
  padding: 50px 4%;
  border-bottom: 1px solid #a4a4a4; }

.articles__title {
  font-size: 400%;
  margin-bottom: 40px; }

.articles__inner {
  position: relative; }

.articles-slider {
  padding: 0 80px;
  height: calc(100% + 61px); }
  .articles-slider .slick-dots {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
    right: auto;
    left: 0;
    padding: 0 80px; }

.articles-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 61px; }

.articles-slide__left {
  width: 45%;
  color: #7f7f7f; }

.articles-slide__title {
  font-size: 200%;
  line-height: 120%;
  font-weight: 400;
  margin: 30px 0 20px; }

.articles-slide__btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  text-transform: uppercase; }

.articles-slide__right {
  overflow: hidden;
  width: 50%; }

.services-slider {
  background-color: #ff5c4b;
  padding: 48px 50px 44px;
  color: #FFF;
  overflow: hidden; }

.services-slider__slider.slider {
  padding: 0; }

.services-slider__slider .slick-arrow {
  top: 0;
  left: -20px;
  background: url("../images/arrs-white.png"); }

.services-slider__slider .slick-next {
  left: auto;
  right: -20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.service-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px; }

.service-filter__title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  max-width: 300px;
  text-align: center; }

.service-filter-control {
  width: 145px;
  height: 35px;
  position: relative;
  border: 2px solid white;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .service-filter-control input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0; }
  .service-filter-control input:checked + span {
    left: calc(100% - 32px); }
    .service-filter-control input:checked + span + div {
      color: black;
      background: white; }
      .service-filter-control input:checked + span + div span:first-child {
        display: none; }
      .service-filter-control input:checked + span + div span:last-child {
        display: block; }

.service-filter-control__text {
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  line-height: 37px;
  font-size: 90%;
  z-index: 0; }
  .service-filter-control__text span:last-child {
    display: none; }

.service-filter-control__track {
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 33px;
  height: 33px;
  background: url(../images/radio-btn.png) no-repeat 50% 50% #fff;
  padding: 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  z-index: 1; }

.testimonials {
  background-color: #ff5c4b;
  color: #fff;
  text-align: center;
  overflow: hidden; }

.testimonials__inner {
  padding: 90px 0; }

.testimonials__title {
  font-size: 400%; }

.testimonials__dec {
  display: inline-block;
  font-family: "Xenia";
  font-size: 170px;
  font-style: normal;
  line-height: 135px;
  margin-left: 0px;
  margin-bottom: 70px;
  max-height: 52px;
  opacity: 0.1;
  vertical-align: top; }

.testimonials__slider {
  padding: 0 20%;
  padding-bottom: 61px; }
  .testimonials__slider .slick-arrow {
    top: 0;
    left: 40px;
    background: url("../images/arrs-white.png"); }
  .testimonials__slider .slick-next {
    left: auto;
    right: 40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .testimonials__slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .testimonials__slider .slick-dots button {
      background-image: url("../images/slider-pagination-item-white.png"); }
      .testimonials__slider .slick-dots button:hover {
        background-image: url("../images/slider-pagination-item-white-active.png"); }
    .testimonials__slider .slick-dots .slick-active button {
      background-image: url("../images/slider-pagination-item-white-active.png"); }

.testimonial__author {
  margin-top: 40px;
  font-weight: 500; }

.team {
  position: relative;
  text-align: center;
  padding-top: 1px;
  color: #ff5c4b; }

.team__title {
  font-size: 400%;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1; }

.team__inner {
  padding-bottom: 60px; }

.team__slider {
  max-width: 1480px;
  margin: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 50px; }

.team__slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px; }

.team-member {
  position: relative;
  width: 246px;
  height: 229px;
  border: .5px solid white; }
  .team-member::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff5c4b;
    opacity: .5;
    content: '';
    -webkit-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out; }
  .team-member:hover::after {
    display: none; }
  .team-member:hover .team-member__img img {
    height: 289px; }
  .team-member:hover .team-member__img img:last-child {
    z-index: 1; }
  .team-member:hover .team-member__name {
    z-index: 1;
    display: block; }

.team-member__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.team-member__img img:last-child {
  z-index: -1; }

.team-member__name {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -45px;
  font-size: 15px;
  padding: 12px 0;
  line-height: 1em;
  text-transform: uppercase;
  background: #fff;
  color: #2e2e2e;
  border-radius: 4px;
  z-index: -1;
  display: none; }

.serts {
  background-color: #ff5c4b;
  text-align: center;
  color: white;
  padding: 80px 0; }

.serts__title {
  font-size: 400%;
  padding-bottom: 60px; }

.serts-slider {
  overflow: hidden;
  padding: 0 10%;
  padding-bottom: 61px; }
  .serts-slider .slick-arrow {
    top: 0;
    left: 40px;
    background: url("../images/arrs-white.png"); }
  .serts-slider .slick-next {
    left: auto;
    right: 40px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .serts-slider .slick-dots button {
    background-image: url("../images/slider-pagination-item-white.png"); }
    .serts-slider .slick-dots button:hover {
      background-image: url("../images/slider-pagination-item-white-active.png"); }
  .serts-slider .slick-dots .slick-active button {
    background-image: url("../images/slider-pagination-item-white-active.png"); }

.serts-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .serts-slider__inner img {
    margin: 2px; }

@media (max-width: 1440px) {
  .customers-slider .slider__slide img {
    height: 140px; }
  .articles-slide__title {
    font-size: 140%; } }

@media (max-width: 1024px) {
  .articles-slider .slick-dots {
    padding: 0px;
    padding-left: 50px; } }

@media (max-width: 768px) {
  .customers__title {
    padding: 20px 0; }
  .customers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px; }
  .customers__col {
    width: 100%;
    padding-bottom: 40px; }
  .customers-slider .slider__slide img {
    height: 140px; }
  .articles__title {
    font-size: 240%; }
  .articles-slider.slider {
    padding: 0 30px;
    height: calc(100% + 251px); }
  .articles-slider .articles-slide {
    padding-bottom: 140px; }
  .articles-slider .slick-dots {
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0; }
  .articles-slider .slick-arrow {
    display: none !important; }
  .articles-slide__left {
    width: 100%; }
  .articles-slide__right {
    display: none; }
  .articles-slide__btn {
    left: 50%;
    bottom: 60px; }
  .services-slider__slider .slick-arrow {
    left: -40px; }
  .services-slider__slider .slick-next {
    left: auto;
    right: -40px; }
  .serts__slider, .testimonials__slider {
    padding: 0 20px;
    padding-bottom: 61px; }
    .serts__slider .slick-arrow, .testimonials__slider .slick-arrow {
      display: none !important; }
  .testimonials__title.title {
    font-size: 300%; }
  .serts__title.title {
    font-size: 150%; } }
