<!DOCTYPE html>
<html lang="ru">

<head>
	{% include "includes/head.html"  %}
	<title>О компании</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/about.css">
</head>

<body>
	{% include "includes/header.html"  %}

	{% block content %}
	<section class="content">
		<div class="fixed-view">
			<picture>
				<source media="(min-width: 1440px)" srcset="images/1440/about-bg-1440.webp">
				<source media="(min-width: 1280px)" srcset="images/1280/about-bg-1280.webp">
				<source media="(min-width: 768px)" srcset="images/768/about-bg-768.webp">
				<source media="(min-width: 564px)" srcset="images/564/about-bg-564.webp">
				<source media="(min-width: 0px)" srcset="images/400/about-bg-400.webp">
				<img class="" src="images/768/about-bg-768.jpg" srcset="images/768/about-bg-768.jpg 1x, images/1440/about-bg-1440.jpg 2x" alt="about-bg">
			</picture>
		</div>
		<section class="hero">
			<div class="hero__inner hero__inner--about">
				<div class="white title">МЫ, КОМПАНИЯ</div>
				<div class="title red">CONFIDENCE GROUP</div>
				<div class="title white">В ЦЕЛЯХ ОБЕСПЕЧЕНИЯ ПОДДЕРЖКИ НАШИХ КЛИЕНТОВ НА ПУТИ К ДОСТИЖЕНИЮ ИХ
					БИЗНЕС-ЗАДАЧ, ТОРЖЕСТВЕННО ОБЕЩАЕМ РАБОТАТЬ В ПОЛНОМ СООТВЕТСТВИИ С ЗАКОНОМ И МЕЖДУНАРОДНЫМИ
					СТАНДАРТАМИ КАЧЕСТВА, ПОСТОЯННО СОВЕРШЕНСТВОВАТЬ БИЗНЕС-ПРОЦЕССЫ. ГАРАНТИРУЕМ ПРОАКТИВНЫЙ ПОДХОД,
					ОПЕРАТИВНОСТЬ В ПРЕДОСТАВЛЕНИИ УСЛУГ И ИНФОРМАЦИИ, НЕСЕМ ПОЛНУЮ ОТВЕТСТВЕННОСТЬ ПЕРЕД КЛИЕНТАМИ
				</div>
				<a class="btn">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
			</div>
		</section>
		<section class="infograhics">
			<div class="infograhics__inner clearfix">
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/1.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/2.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--wx2">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/3.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--hx2">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/4.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/5.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/6.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/7.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--hx2">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/8.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--wx2">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/9.png" alt="infographics">
					</div>
				</div>

				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/10.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/11.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--hx2 infograhics-item--top-shift">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/12.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/13.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/14.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/15.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/16.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item infograhics-item--wx2">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/17.png" alt="infographics">
					</div>
				</div>
				<div class="infograhics__item infograhics-item">
					<div class="infograhics-item__img">
						<img src="images/company-infographics/18.png" alt="infographics">
					</div>
				</div>
			</div>
		</section>

		<section class="testimonials">
			<div class="testimonials__inner">
				<div class="testimonials__title title">
					<h2>ОТЗЫВЫ</h2>
				</div>
				<div class="testimonials__dec">“</div>
				<div class="testimonials__slider slider">
					<div class="testimonials__slide">
						<div class="testimonials__slide-inner testimonial">
							<div class="testimonial__desc">
								<p>
									Мария, добрый день!<br>
									Позвольте выразить благодарность от имени «KMEW» всем лицам, задействованным в
									процессе продления Аккредитации указанного Представительства, а также лично Вам за
									вовлеченность в важный для Компании процесс и надлежащее курирование с Вашей
									стороны.<br>
									СПАСИБО!!! <br>
									Ольга Валентиновна Кучеренко<br>
									Директор по персоналу
								</p>
							</div>
							<div class="testimonial__author">
								<p>
									KMEW
								</p>
							</div>
						</div>
					</div>
					<div class="testimonials__slide-inner testimonial">
						<div class="testimonial__desc">
							<p>
								Мария, добрый день!<br>
								Позвольте выразить благодарность от имени «KMEW» всем лицам, задействованным в процессе
								продления Аккредитации указанного Представительства, а также лично Вам за вовлеченность
								в важный для Компании процесс и надлежащее курирование с Вашей стороны.<br>
								СПАСИБО!!! <br>
								Ольга Валентиновна Кучеренко<br>
								Директор по персоналу
							</p>
						</div>
						<div class="testimonial__author">
							<p>
								KMEW
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="team">
			<picture>
				<source media="(min-width: 1440px)" srcset="images/1440/team-bg-1440.webp">
				<source media="(min-width: 1280px)" srcset="images/1280/team-bg-1280.webp">
				<source media="(min-width: 768px)" srcset="images/768/team-bg-768.webp">
				<source media="(min-width: 564px)" srcset="images/564/team-bg-564.webp">
				<source media="(min-width: 0px)" srcset="images/400/team-bg-400.webp">
				<img class="image-fallback" src="images/768/team-bg-768.jpg" srcset="images/1440/team-bg-1440.jpg 2x" alt="team-bg">
			</picture>
			<div class="team__title title red">
				<h2>НАША КОМАНДА</h2>
			</div>
			<div class="team__inner">
				<div class="page_desktop team__slider slider">
					<div class="team__slide">
						<div class="team__slide-inner">
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/11.jpg"
										alt="alt">
									<img src="images/persons/1.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/21.jpg"
										alt="alt">
									<img src="images/persons/2.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/31.jpg"
										alt="alt">
									<img src="images/persons/3.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/41.jpg"
										alt="alt">
									<img src="images/persons/4.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/51.jpg"
										alt="alt">
									<img src="images/persons/5.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/61.jpg"
										alt="alt">
									<img src="images/persons/6.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/71.jpg"
										alt="alt">
									<img src="images/persons/7.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/81.jpg"
										alt="alt">
									<img src="images/persons/8.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/91.jpg"
										alt="alt">
									<img src="images/persons/9.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/101.jpg"
										alt="alt">
									<img src="images/persons/10.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/111.jpg"
										alt="alt">
									<img src="images/persons/11.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/121.jpg"
										alt="alt">
									<img src="images/persons/12.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/131.jpg"
										alt="alt">
									<img src="images/persons/13.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/141.jpg"
										alt="alt">
									<img src="images/persons/14.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/151.jpg"
										alt="alt">
									<img src="images/persons/15.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/161.jpg"
										alt="alt">
									<img src="images/persons/16.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/171.jpg"
										alt="alt">
									<img src="images/persons/17.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/181.jpg"
										alt="alt">
									<img src="images/persons/18.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

						</div>
					</div>
					
				</div>
				<!--Дублировать для мобильного слайдера-->
				<div class="page_mobile team__slider slider">
					

					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/11.jpg"
										alt="alt">
									<img src="images/persons/1.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/21.jpg"
										alt="alt">
									<img src="images/persons/2.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/31.jpg"
										alt="alt">
									<img src="images/persons/3.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/41.jpg"
										alt="alt">
									<img src="images/persons/4.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/51.jpg"
										alt="alt">
									<img src="images/persons/5.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/61.jpg"
										alt="alt">
									<img src="images/persons/6.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/71.jpg"
										alt="alt">
									<img src="images/persons/7.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/81.jpg"
										alt="alt">
									<img src="images/persons/8.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/91.jpg"
										alt="alt">
									<img src="images/persons/9.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">


							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/101.jpg"
										alt="alt">
									<img src="images/persons/10.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/111.jpg"
										alt="alt">
									<img src="images/persons/11.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">


						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/121.jpg"
										alt="alt">
									<img src="images/persons/12.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/131.jpg"
										alt="alt">
									<img src="images/persons/13.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/141.jpg"
										alt="alt">
									<img src="images/persons/14.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/151.jpg"
										alt="alt">
									<img src="images/persons/15.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">

							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/161.jpg"
										alt="alt">
									<img src="images/persons/16.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
					<div class="team__slide">
						<div class="team__slide-inner">
							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/171.jpg"
										alt="alt">
									<img src="images/persons/17.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>

						</div>
					</div>
					<div class="team__slide">
						<div class="team__slide-inner">


							<div class="team-member">
								<div class="team-member__img">
									<img src="images/persons/181.jpg"
										alt="alt">
									<img src="images/persons/18.jpg"
										alt="alt">
								</div>
								<div class="team-member__name">БАТУРА СОФИЯ</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<div class="video-about">
			<div class="video-about__inner">
				<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BzknewK_UaE"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe> -->
					<div class="youtube-player" data-id="BzknewK_UaE"></div>
			</div>
		</div>
		<div class="serts">
			<div class="serts__title title">
				<h2 >СЕРТИФИКАТЫ</h2>
			</div>
			<div class="serts__inner">
				<div class="serts__slider serts-slider">
					<div class="serts__slide">
						<div class="serts-slider__inner imageGallery">
							<a href="http://confidencegr.com/upload/iblock/93c/93c6b3b412daa4092ba542eeed630520.png">
								<img alt="Gallery image 1" src="http://confidencegr.com/upload/iblock/93c/93c6b3b412daa4092ba542eeed630520.png">
							</a>
							<a href="http://confidencegr.com/upload/iblock/8ad/8ad229a12e9606bee026467d504a7e8d.png">
								<img alt="Gallery image 1" src="http://confidencegr.com/upload/iblock/8ad/8ad229a12e9606bee026467d504a7e8d.png">
							</a>
							<a href="http://confidencegr.com/upload/iblock/368/3683d971c8325c788f8cae513c93f5ad.png">
								<img alt="Gallery image 1" src="http://confidencegr.com/upload/iblock/368/3683d971c8325c788f8cae513c93f5ad.png">
							</a>
						</div>
					</div>

					<div class="serts__slide">
						<div class="serts-slider__inner imageGallery">
							<a href="http://confidencegr.com/upload/iblock/93c/93c6b3b412daa4092ba542eeed630520.png">
								<img alt="Gallery image 2" src="http://confidencegr.com/upload/iblock/93c/93c6b3b412daa4092ba542eeed630520.png">
							</a>
							<a href="http://confidencegr.com/upload/iblock/8ad/8ad229a12e9606bee026467d504a7e8d.png">
								<img alt="Gallery image 2" src="http://confidencegr.com/upload/iblock/8ad/8ad229a12e9606bee026467d504a7e8d.png">
							</a>
							<a href="http://confidencegr.com/upload/iblock/368/3683d971c8325c788f8cae513c93f5ad.png">
								<img alt="Gallery image 2" src="http://confidencegr.com/upload/iblock/368/3683d971c8325c788f8cae513c93f5ad.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>




	</section>
	{% endblock %}

	{% include "includes/footer.html"  %}
	<script src="js/sticky.js"></script>
</body>

</html>