<!DOCTYPE html>
<html lang="ru">
<head>
	{% include "includes/head.html"  %}
	<title>Главная</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	{% include "includes/header.html"  %}

	{% block content %}
	<section class="content">
		<div class="fixed-view contrast-view">
			<video class="page-video"
					autoplay="true"
					muted="muted"
			       	loop="loop"
			       	id="hero-video"
				   	poster="images/400/video-prompt-400.jpg ">
			</video>
		</div>
		<section class="hero hero--main" data-slide="slideTo">
			<div class="hero__inner hero__inner--main">
				<div class="white">здравствуйте, мы</div>
      			<div class="title white">Confidence Group</div> 
            	<div class="red">Relocation Management Company</div>
			</div>
		</section>
		<section class="services-grid " data-slide="slideTo">
			<div class="section-title">
				<div class="title section-title__title">
					<h2>
						<a href="#!">SERVICES</a>
					</h2>
				</div>
				<div class="section-title__desc">SINCE 2007 EXPERTS IN IMMIGRATION, RELOCATION, VISA CONSULTING AS WELL AS IN REGISTRATION/ACCREDITATION OF BUSINESS IN RUSSIA AND INDIVIDUAL TRAVEL</div>
			</div>
			<div class="services-grid__inner main-grid main-grid--index">
				<div class="main-grid__row clearfix">
					<a href="#!" class="main-grid__item main-grid-item main-grid-item--w64">
						<img class="main-grid-item__img safari-fix" data-format="jpg" 
							 src="images/768/m-consalting-768.webp"
							 alt="grid-img">
							 <picture>
								<source 
								  srcset="
										  images/400/m-consalting-400.webp 400w,
										  images/564/m-consalting-564.webp 564w,
										  images/768/m-consalting-768.webp 768w,
										  images/1280/m-consalting-1280.webp 1280w,
										  images/1440/m-consalting-1440.webp 1440w
										  "
										  
								  sizes="(max-width: 1440px) 1440px, 
										 (max-width: 1280px) 1280px, 
										 (max-width: 768px) 768px, 
										 (max-width: 564px) 564px"                      
										 
								  type="image/webp"
								>
								
								<img 
								  srcset="images/400/m-consalting-400.webp 400w,
										images/564/m-consalting-564.webp 564w,
										images/768/m-consalting-768.webp 768w,
										images/1280/m-consalting-1280.webp 1280w,
										images/1440/m-consalting-1440.webp 1440w"
										  
								  sizes="(max-width: 1440px) 1440px, 
								  (max-width: 1280px) 1280px, 
								  (max-width: 768px) 768px, 
								  (max-width: 564px) 564px,  
										 1280px"                       
										 
								  src="images/400/m-consalting-400.jpg"             
								  
								  alt="test-alt"    
								  
								  class="w-90-percent max-width-1280"
								>
							  </picture>
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						
							<img class="main-grid-item__img safari-fix" src="images/768/viza-768.webp" alt="grid-img" data-format="jpg" >
						
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
				</div>
				<div class="main-grid__row clearfix">
					<a href="#!" class="main-grid__item main-grid-item main-grid-item--x2height" >
						
							<img class="main-grid-item__img safari-fix"  data-format="jpg"  src="images/768/relokaciya-768.webp" alt="grid-img">
						
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item main-grid-item--w28 main-grid-item--center">
						<div class="main-grid-item__front">
							<span class="title">Step into our world and you'll never step out</span>
						</div>
						
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						
							<img class="main-grid-item__img safari-fix" data-format="jpg"  src="images/768/registraciya-768.webp" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item main-grid-item--w64">
						
							<img class="main-grid-item__img safari-fix"  data-format="jpg"  src="images/768/otdyh-768.webp" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="customers" data-slide="slideTo">
			<div class="section-title section-title--red">
				<div class="title section-title__title">
					<h2>
						<a href="#!">CUSTOMERS</a>
					</h2>
				</div>
				<div class="section-title__desc">SINCE 2007, CONFIDENCE GROUP HAS BEEN WORKING WITH EVERYONE FROM START-UPS TO GLOBAL BRANDS.</div>
			</div>
			<div class="customers__inner">
				<div class="customers__col">
					<div class="customers__title title">RUSSIAN BRANDS</div>
					<div class="customers__slider customers-slider slider">
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
					</div>
				</div>
				<div class="customers__col">
					<div class="customers__title title">INTERNATIONAL BRANDS</div>
					<div class="customers__slider customers-slider slider">
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
						<div class="slider__slide">
							<div class="slider__slide-wrap">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
								<img src="images/nestle.png" alt="brand">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="section-info-agency section-title section-title--transparent" data-slide="slideTo">
			<div class="title section-title__title">
				<h2>
					<a href="#!">INFORMATION AGENCY</a>
				</h2>
			</div>
			<div class="section-title__desc red">SINCE 2007, CONFIDENCE GROUP HAS BEEN WORKING WITH EVERYONE FROM START-UPS TO GLOBAL BRANDS.</div>
			<a class="page__btn btn" href="javascript:void(0);">
				READ MORE
			</a>
		</div>
		<section class="articles" >
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>NEWS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All News</a>
			</div>
		</section>
		<section class="articles" >
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>PUBLICATIONS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
								
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All PUBLICATIONS</a>
			</div>
		</section>
		<section class="articles articles-animate" >
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>EVENTS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right ">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All EVENTS</a>
			</div>
		</section>
	</section>
	{% endblock %}
	<div class="bottom-nav" style="bottom: 0px;">
		<a href="#" class="bell"></a>
		<a href="#" class="next"></a>
	</div>
	<footer class="footer" data-slide="slideTo">
	<div class="footer__inner">
		<div class="soc">
			<a href="#!"
			   class="soc__link soc__link--tw"></a>
			<a href="#!"
			   class="soc__link soc__link--fb"></a>
			<a href="#!"
			   class="soc__link soc__link--in"></a>
			<a href="#!"
			   class="soc__link soc__link--vk"></a>
		</div>
		<div class="footer__contacts">
			<div class="footer__col">
				<h3 class="footer__title title">CONTACTS</h3>
				<p class="footer__info">
					Tel./fax: +7 495 748-77-62;<br>
					8 800 222-77-62<br>
					(toll free calls in Russia);<br>
					info@confidencegroup.ru
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">MOSCOW OFFICE</h3>
				<p class="footer__info">
					105082, Spartakovskaya Square, 14, bld. 2<br>
					(entrance from Baumanskaya Street), Bristol Mansion, Central Street Business Center,<br>
					3rd floor, office 2306
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">WORKING HOURS</h3>
				<p class="footer__info">
					Monday - Friday<br>
					From 9 a.m. to 6 p.m.
				</p>
			</div>

		</div>
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>
 <!-- MODALS -->
        <div class="popup-form" id="modal-geo">
            <div class="inner">
                <div class="close close-modal" data-modal="modal-geo"></div>
                <div class="title big">Your current region<br><span class="red">Moscow</span></div>
                <!-- 
				<div class="btn"><a href="#">Change region</a></div>
				 -->
            </div>
        </div>
        <!-- /MODALS -->
<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/main.js"></script>
<script src="js/animation.js"></script>
<script src="js/sticky.js"></script>
<script src="js/custom.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">
</body>
</html>
		

			


