<!DOCTYPE html>
<html lang="ru">
<head>
	{% include "includes/head.html"  %}
	<title>ИА > корень</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/inform-agency.css">
</head>
<body>
	<header class="header">
		<div class="header__inner">
			<div class="header__left">
				<a class="logo" href="/"></a>
			</div>
			<div class="header__mid">
				<nav>
					<ul class="header__nav">
						<li>
							<a href="news.html">Новости</a>
						</li>
						<li>
							<a href="publication.html">Публикации</a>
						</li>
						<li>
							<a href="event.html">Мероприятия</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				
				<div class="header-options">
					<a href="#" class="header-option header-option--geo open-modal" data-modal="modal-geo">Москва</a>
					<a href="#" class="header-option header-option--search">Search</a>
					<a href="#" class="header-option header-option--lang">Ru</a>
				</div>
	
				<a class="menu-btn-mobile">
					<span class="top"></span>
					<span class="middle"></span>
					<span class="bottom"></span>
				</a>
			</div>
		</div>
	</header>
	
	
	

	{% block content %}
	<section class="content">
		<section class="hero-search">
			<picture>
				<source media="(min-width: 1440px)" srcset="images/1440/inform-agency-inner-1440.webp">
				<source media="(min-width: 1280px)" srcset="images/1280/inform-agency-inner-1280.webp">
				<source media="(min-width: 768px)" srcset="images/768/inform-agency-inner-768.webp">
				<source media="(min-width: 564px)" srcset="images/564/inform-agency-inner-564.webp">
				<source media="(min-width: 0px)" srcset="images/400/inform-agency-inner-400.webp">
				<img class="image-fallback" src="images/768/inform-agency-inner-768.jpg" srcset="images/1440/inform-agency-inner-1440.jpg 2x" alt="hero-search">
			</picture>
			<div class="hero-search__inner">
				<div class="hero-search__title title">
					<h1>
						INFORMATION AGENCY
					</h1>
				</div>
				<form class="search-field">
					<input type="text" class="search-field__input" placeholder="I'm interested:">
					<button class="search-field__reset" type="reset"></button>
					<button class="search-field__submit title" type="submit">find</button>
				</form>
			</div>
		</section>
		
		
		<section class="articles">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>NEWS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All News</a>
			</div>
		</section>
		<section class="articles">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>PUBLICATIONS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
								
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All PUBLICATIONS</a>
			</div>
		</section>
		<section class="articles articles-animate">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2>EVENTS</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All EVENTS</a>
			</div>
		</section>
	</section>
	{% endblock %}
	<div class="bottom-nav" style="bottom: 0px;">
		<a href="#" class="bell"></a>
		<a href="#" class="next"></a>
	</div>
	<footer class="footer-sub">
	<div class="footer-sub__inner">
		<picture>
			<source media="(min-width: 1440px)" srcset="images/1440/subscripbe-1440.webp, images/1440/subscripbe-1440.jpg">
			<source media="(min-width: 1280px)" srcset="images/1280/subscripbe-1280.webp, images/1280/subscripbe-1280.jpg">
			<source media="(min-width: 768px)" srcset="images/768/subscripbe-768.webp, images/768/subscripbe-768.jpg">
			<source media="(min-width: 564px)" srcset="images/564/subscripbe-564.webp, images/564/subscripbe-564.jpg">
			<source media="(min-width: 0px)" srcset="images/400/subscripbe-400.webp, images/400/subscripbe-400.jpg">
			<img class="image-fallback" src="images/768/subscripbe-768.jpg" alt="footer-bg">
		</picture>
		<div class="footer-sub__title title">
			<h2>SUBSCRIBE TO INFORMATION NEWSLETTER</h2>
		</div>
		<div class="footer-sub__desc">
			<p class="red">EVERY MONDAY, WEDNESDAY AND FRIDAY READ FRESH NEWS AND PROFESSIONAL ARTICLES. REGISTER FOR ACTUAL EVENTS</p>
		</div>
		<form action="" class="footer-sub__form">
			<div class="footer-sub__row">
				<input class="footer-sub__input" type="text" placeholder="NAME">
				<input class="footer-sub__input" type="email" placeholder="E-MAIL">
			</div>
			<button class="footer-sub__submit btn">SUBSCRIBE</button>
		</form>
		<div class="soc">
			<a href="#!" class="soc__link soc__link--tw"></a>
			<a href="#!" class="soc__link soc__link--fb"></a>
			<a href="#!" class="soc__link soc__link--in"></a>
			<a href="#!" class="soc__link soc__link--vk"></a>
		</div>
		<p class="footer-sub__extra">
			«Информационное агентство Конфиденс Групп (+0) зарегистрировано в Роскомнадзоре 21 сентября 2016 года. Номер свидетельства СМИ ЭЛ № ФС77-67213. Учредитель - ООО «Конфиденс Групп» Главный редактор - Спринчан А.В. Контакты редакции: 105082, г. Москва, Спартаковская пл., 14, стр.2 (вход со стороны ул. Бауманская), 3 этаж, офис 2306, особняк Bristol, бизнес-центр CENTRAL STREET, 8 495 748 7762, 8 800 222 7762, info@confidencegroup.ru
		</p>
	
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>

 <!-- MODALS -->
        <div class="popup-form" id="modal-geo">
            <div class="inner">
                <div class="close close-modal" data-modal="modal-geo"></div>
                <div class="title big">Your current region<br><span class="red">Moscow</span></div>
                <!-- 
				<div class="btn"><a href="#">Change region</a></div>
				 -->
            </div>
        </div>
        <!-- /MODALS -->

<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/main.js"></script>
<script src="js/animation.js"></script>
<script src="js/sticky.js"></script>
<script src="js/custom.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">
</body>
</html>
		

			


