<!DOCTYPE html>
<html lang="ru">

<head>
	{% include "includes/head.html"  %}
	<title>Услуга</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<header class="header sticky">
		<div class="header__inner">
			<div class="header__left">
				<a class="logo" href="/"></a>
			</div>
			<div class="header__mid">
				<nav>
					<ul class="header__nav">
						<li>
							<a href="about.html">О КОМПАНИИ</a>
						</li>
						<li>
							<a href="about.html">УСЛУГИ</a>
						</li>
						<li>
							<a href="about.html">КЛИЕНТЫ</a>
						</li>
						<li>
							<a href="inform-agency.html">ИНФОРМАЦИОННОЕ АГЕНТСТВО</a>
						</li>
						<li>
							<a href="about.html">КОНТАКТЫ</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				
				<div class="header-options">
					<a href="#" class="header-option header-option--geo open-modal" data-modal="modal-geo">Москва</a>
					<a href="#" class="header-option header-option--search">Search</a>
					<a href="#" class="header-option header-option--lang">Ru</a>
				</div>
	
				<a class="menu-btn-mobile">
					<span class="top"></span>
					<span class="middle"></span>
					<span class="bottom"></span>
				</a>
			</div>
		</div>
	</header>

	{% block content %}
	<section class="content">
		<div class="fixed-view">
			<picture>
				<source media="(min-width: 1440px)" srcset="images/1440/m-consalting-1440.webp">
				<source media="(min-width: 1280px)" srcset="images/1280/m-consalting-1280.webp">
				<source media="(min-width: 768px)" srcset="images/768/m-consalting-768.webp">
				<source media="(min-width: 564px)" srcset="images/564/m-consalting-564.webp">
				<source media="(min-width: 0px)" srcset="images/400/m-consalting-400.webp">
				<img class="" src="images/768/m-consalting-768.jpg" srcset="images/1440/m-consalting-1440.jpg 2x"
					alt="consalting">
			</picture>
		</div>
		<section class="hero ">
			<div class="hero__inner hero__inner--consult">
				<div class="title white">MIGRATION CONSULTING</div>
				<div class="white">
					<p>
						КОМПЛЕКСНОЕ СОПРОВОЖДЕНИЕ ПО ВСЕМ ВОПРОСАМ, СВЯЗАННЫМ С ВЪЕЗДОМ, ПРЕБЫВАЕНИЕМ И ОСУЩЕСТВЛЕНИЕМ
						ТРУДОВОЙ ДЕЯТЕЛЬНОСТИ ИНОСТРАННЫХ ГРАЖДАН НА ВСЕЙ ТЕРРИТОРИИ РФ
					</p>
				</div>

				<a href="#!" class="btn">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ И АКЦИИ</a>
			</div>
		</section>
		<section class="services-grid">
			<div class="services-slider">
				<div class="slider services-slider__slider">
					<div class="slide services-slider__slide">
						<div class="services-slider__slide-inner">
							<label>
								<div class="service-filter">
									<div class="service-filter__title">
										Безвизовые иностранные граждане общий порядок
									</div>
									<div class="service-filter__control service-filter-control">
										<input type="radio" data-off="CHECK" data-on="CHECKED" name="service-filter">
										<span class="service-filter-control__track"></span>
										<div class="service-filter-control__text">
											<span>CHOOSE</span>
											<span>SELECTED</span>
										</div>
									</div>
								</div>
							</label>

						</div>
					</div>
					<div class="slide services-slider__slide">
						<div class="services-slider__slide-inner">
							<label>
								<div class="service-filter">
									<div class="service-filter__title">
										Безвизовые иностранные граждане общий порядок
									</div>
									<div class="service-filter__control service-filter-control">
										<input type="radio" data-off="CHECK" data-on="CHECKED" name="service-filter">
										<span class="service-filter-control__track"></span>
										<div class="service-filter-control__text">
											<span>CHOOSE</span>
											<span>SELECTED</span>
										</div>
									</div>
								</div>
							</label>

						</div>
					</div>
					<div class="slide services-slider__slide">
						<div class="services-slider__slide-inner">
							<label>
								<div class="service-filter">
									<div class="service-filter__title">
										Безвизовые иностранные граждане общий порядок
									</div>
									<div class="service-filter__control service-filter-control">
										<input type="radio" data-off="CHECK" data-on="CHECKED" name="service-filter">
										<span class="service-filter-control__track"></span>
										<div class="service-filter-control__text">
											<span>CHOOSE</span>
											<span>SELECTED</span>
										</div>
									</div>
								</div>
							</label>

						</div>
					</div>
					<div class="slide services-slider__slide">
						<div class="services-slider__slide-inner">
							<label>
								<div class="service-filter">
									<div class="service-filter__title">
										Безвизовые иностранные граждане общий порядок
									</div>
									<div class="service-filter__control service-filter-control">
										<input type="radio" data-off="CHECK" data-on="CHECKED" name="service-filter">
										<span class="service-filter-control__track"></span>
										<div class="service-filter-control__text">
											<span>CHOOSE</span>
											<span>SELECTED</span>
										</div>
									</div>
								</div>
							</label>

						</div>
					</div>
				</div>
			</div>
			<div class="services-grid__inner main-grid main-grid_services">
				<div class="main-grid__row clearfix">
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/consalting.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/viza.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/relokaciya.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/registraciya.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF
								FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="steps-slider">
			<div class="steps-slider__main-title white">
				<h2>
					ПОРЯДОК ВЗАИМОДЕЙСТВИЯ
				</h2>
			</div>
			<div class="steps-slider__body">
				<div class="steps-slider__slide mobile-accordion-body active">
					<div class="mobile-accordion-head mobile-accordion-head--step1 white">
						Оформление заявки
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/1.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Оформление заявки</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Анализ ситуации</span>
								</li>
								<li>
									<span>Назначение консультанта</span>
								</li>
								<li>
									<span>Направление предложения (этапы, сроки, стоимость, особенности)</span>
								</li>
								<li>
									<span>Согласование услуг</span>
								</li>
								<li>
									<span>Заключение договора</span>
								</li>
								<li>
									<span>Проведение аудита</span>
								</li>
								<li>
									<span>Создание профайла услуг</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="steps-slider__slide mobile-accordion-body">
					<div class="mobile-accordion-head mobile-accordion-head--step2 white">
						Подготовка документов
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/2.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Подготовка документов</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Заполнение
										форм</span>
								</li>
								<li>
									<span>Формирование пакета документов</span>
								</li>
								<li>
									<span>Заведение учетной
										записи заявителя</span>
								</li>
								<li>
									<span>Доставка документов от Заказчика</span>
								</li>
								<li>
									<span>Проверка
										документов</span>
								</li>
								<li>
									<span>Оплата пошлин
										и сборов</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="steps-slider__slide mobile-accordion-body">
					<div class="mobile-accordion-head mobile-accordion-head--step3 white">
						Подача документов
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/3.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Подача документов</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Согласование с руководством</span>
								</li>
								<li>
									<span>Сопровождение
										при личных визитах</span>
								</li>
								<li>
									<span>Ускорение</span>
								</li>
								<li>
									<span>Решение сложных 
										вопросов</span>
								</li>
								<li>
									<span>Письменное подтверждение
										о подаче и дате получения</span>
								</li>
								<li>
									<span>Отстаивание позиции
										клиента в госорганах</span>
								</li>
								<li>
									<span>Отслеживание
										процесса он-лайн</span>
								</li>
								<li>
									<span>Информирование о последующих этапах</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="steps-slider__slide mobile-accordion-body">
					<div class="mobile-accordion-head mobile-accordion-head--step4 white">
						Получение документов
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/4.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Получение документов</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Получение представителем
										/ сопровождение заявителя</span>
								</li>
								<li>
									<span>Сопровождение на авто бизнес-класса</span>
								</li>
								<li>
									<span>Проверка
										корректности
										докуменов</span>
								</li>
								<li>
									<span>Коррекция документов при ошибке</span>
								</li>
								<li>
									<span>Решение нестандартных ситуаций</span>
								</li>
								<li>
									<span>Доставка документов</span>
								</li>
								<li>
									<span>Он-лайн архивирование</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="steps-slider__slide mobile-accordion-body">
					<div class="mobile-accordion-head mobile-accordion-head--step5 white">
						Оплата
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/5.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Оплата</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Гибкая система скидок</span>
								</li>
								<li>
									<span>Безналичный
										расчет</span>
								</li>
								<li>
									<span>Валютные
										расчеты (usd, euro)</span>
								</li>
								<li>
									<span>Отсрочка
										платежа</span>
								</li>
								<li>
									<span>Наличный расчет</span>
								</li>
								<li>
									<span>Оплата кредитными
										картами</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="steps-slider__slide mobile-accordion-body">
					<div class="mobile-accordion-head mobile-accordion-head--step6 white">
						Гарантийное обслуживание
					</div>
					<div class="steps-slider__inner">
						<div class="steps-slider__img">
							<img src="images/steps-slider/6.svg" alt="step">
						</div>
						<div class="steps-slider__text">
							<div class="steps-slider__title">Клиент</div>
							<ul>
								<li>
									<span>Гарантийное обслуживание</span>
								</li>
							</ul>
							<div class="steps-slider__title">Консультант</div>
							<ul>
								<li>
									<span>Контроль качества</span>
								</li>
								<li>
									<span>Напоминание об окончании срока действия документов</span>
								</li>
								<li>
									<span>Информирования о рисках и последствиях</span>
								</li>
								<li>
									<span>Консультирование в спорных и нестандартных аспектах законодательства</span>
								</li>
								<li>
									<span>Подготовка и поддержка при проверках госорганами</span>
								</li>
								<li>
									<span>Предоставление статистической информации и отчетов</span>
								</li>
								<li>
									<span>Информирование о последних изменениях в законодательстве РФ</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="steps-slider__main-title white">
				<h2>
					Специальные <br> предложения и акции
				</h2>
			</div>
		</section>
		<section class="articles">
			<div class="articles__inner">
				<!-- <h2 class="articles__title red title"></h2> -->
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia,
									providing for responsibility for inviting party that does not ensure that a foreign
									citizen observes the regime of stay (residence) in Russia, will enter into force
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia,
									providing for responsibility for inviting party that does not ensure that a foreign
									citizen observes the regime of stay (residence) in Russia, will enter into force
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All News</a>
			</div>
		</section>

	</section>
	{% endblock %}
	<div class="bottom-nav" style="bottom: 0px;">
		<a href="#" class="bell"></a>
		<a href="#" class="next"></a>
	</div>
	<footer class="footer">
	<div class="footer__inner">
		<div class="soc">
			<a href="#!"
			   class="soc__link soc__link--tw"></a>
			<a href="#!"
			   class="soc__link soc__link--fb"></a>
			<a href="#!"
			   class="soc__link soc__link--in"></a>
			<a href="#!"
			   class="soc__link soc__link--vk"></a>
		</div>
		<div class="footer__contacts">
			<div class="footer__col">
				<h3 class="footer__title title">CONTACTS</h3>
				<p class="footer__info">
					Tel./fax: +7 495 748-77-62;<br>
					8 800 222-77-62<br>
					(toll free calls in Russia);<br>
					info@confidencegroup.ru
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">MOSCOW OFFICE</h3>
				<p class="footer__info">
					105082, Spartakovskaya Square, 14, bld. 2<br>
					(entrance from Baumanskaya Street), Bristol Mansion, Central Street Business Center,<br>
					3rd floor, office 2306
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">WORKING HOURS</h3>
				<p class="footer__info">
					Monday - Friday<br>
					From 9 a.m. to 6 p.m.
				</p>
			</div>

		</div>
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>
 <!-- MODALS -->
        <div class="popup-form" id="modal-geo">
            <div class="inner">
                <div class="close close-modal" data-modal="modal-geo"></div>
                <div class="title big">Your current region<br><span class="red">Moscow</span></div>
                <!-- 
				<div class="btn"><a href="#">Change region</a></div>
				 -->
            </div>
        </div>
        <!-- /MODALS -->
<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/main.js"></script>
<script src="js/custom.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">
</body>

</html>