<!DOCTYPE html>
<html lang="ru">
<head>
	{% include "includes/head.html"  %}
	<title>Направление деятельности</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/mconsult-inner.css">
	<link rel="stylesheet" href="css/page.css">
</head>
<body>
	<header class="header sticky">
		<div class="header__inner">
			<div class="header__left">
				<a class="logo" href="/"></a>
			</div>
			<div class="header__mid">
				<nav>
					<ul class="header__nav">
						<li>
							<a href="about.html">О КОМПАНИИ</a>
						</li>
						<li>
							<a href="about.html">УСЛУГИ</a>
						</li>
						<li>
							<a href="about.html">КЛИЕНТЫ</a>
						</li>
						<li>
							<a href="inform-agency.html">ИНФОРМАЦИОННОЕ АГЕНТСТВО</a>
						</li>
						<li>
							<a href="about.html">КОНТАКТЫ</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				
				<div class="header-options">
					<a href="#" class="header-option header-option--geo open-modal" data-modal="modal-geo">Москва</a>
					<a href="#" class="header-option header-option--search">Search</a>
					<a href="#" class="header-option header-option--lang">Ru</a>
				</div>
	
				<a class="menu-btn-mobile">
					<span class="top"></span>
					<span class="middle"></span>
					<span class="bottom"></span>
				</a>
			</div>
		</div>
	</header>

	{% block content %}
	<section class="content">
		<div class="fixed-view">
			<picture>
				<source media="(min-width: 1440px)" srcset="images/1440/m-consalting-1440.webp">
				<source media="(min-width: 1280px)" srcset="images/1280/m-consalting-1280.webp">
				<source media="(min-width: 768px)" srcset="images/768/m-consalting-768.webp">
				<source media="(min-width: 564px)" srcset="images/564/m-consalting-564.webp">
				<source media="(min-width: 0px)" srcset="images/400/m-consalting-400.webp">
				<img class="" src="images/768/m-consalting-768.jpg" srcset="images/1440/m-consalting-1440.jpg 2x" alt="consalting">
			</picture>
		</div>
		<section class="hero">
			<div class="hero__inner hero__inner--consult-inner">
				<div class="title white">ПРИГЛАШЕНИЕ 2 ТЕСТ 2</div> 
				<div class="white"><p>
					*Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений.
				</p></div>

				<div class="hero-services">
					
					
					<div class="hero-services__item hero-service">
						<div class="hero-service__row">
							<div class="hero-service__title">
								СРОК ОФОРМЛЕНИЯ:
							</div>
							<div class="hero-service__desc">
								15-17 РАБОЧИХ ДНЯ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								СТОИМОСТЬ:
							</div>
							<div class="hero-service__desc">
								4 000 РУБЛЕЙ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								ГОСУДАРСТВЕННАЯ ПОШЛИНА:
							</div>
							<div class="hero-service__desc">
								800 РУБЛЕЙ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								КОЛИЧЕСТВО:
							</div>
							<div class="hero-service__desc">
								<div class="counter">
									<button class="counter__minus"></button>
									<input value="1" type="text">
									<button class="counter__plus"></button>
								</div>
							</div>
						</div>
						<a href="#!" class="hero-service__btn btn">ORDER</a>
					</div>
					<div class="hero-services__item hero-service">
						<div class="hero-service__row">
							<div class="hero-service__title">
								СРОК ОФОРМЛЕНИЯ:
							</div>
							<div class="hero-service__desc">
								15-17 РАБОЧИХ ДНЯ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								СТОИМОСТЬ:
							</div>
							<div class="hero-service__desc">
								4 000 РУБЛЕЙ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								ГОСУДАРСТВЕННАЯ ПОШЛИНА:
							</div>
							<div class="hero-service__desc">
								800 РУБЛЕЙ
							</div>
						</div>
						<div class="hero-service__row">
							<div class="hero-service__title">
								КОЛИЧЕСТВО:
							</div>
							<div class="hero-service__desc">
								<div class="counter">
									<button class="counter__minus"></button>
									<input value="1" type="text">
									<button class="counter__plus"></button>
								</div>
							</div>
						</div>
						<a href="#!" class="hero-service__btn btn">ORDER</a>
					</div>
				</div>
			</div>
		</section>
		<section class="services-grid">
			<div class="section-title section-title--red">
				<div class="title section-title__title">
					<h2>
						<a href="#!">SERVICES</a>
					</h2>
				</div>
			</div>
			<div class="services-grid__inner main-grid main-grid_services">
				<div class="main-grid__row clearfix">
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/consalting.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/viza.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item" >
						<img class="main-grid-item__img" src="images/services/relokaciya.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/registraciya.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
					<a href="#!" class="main-grid__item main-grid-item">
						<img class="main-grid-item__img" src="images/services/otdyh.jpg" alt="grid-img">
						<div class="main-grid-item__front">
							<span class="title">MIGRATION CONSULTING</span>
						</div>
						<div class="main-grid-item__back">
							<span class="title">MIGRATION CONSULTING</span>
							<p>COMPLETE COVERAGE OF ALL ISSUES RELATED TO THE CROSSING OF THE BORDER, STAY AND WORK OF FOREIGN CITIZENS ON THE TERRITORY OF RUSSIA</p>
							<div class="btn">
								READ MORE
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		
		<section class="articles">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2 class="page__title-h2">
						NEWS
					</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All News</a>
			</div>
		</section>
		<section class="articles">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2 class="page__title-h2">
						PUBLICATIONS
					</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
								
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All PUBLICATIONS</a>
			</div>
		</section>
		<section class="articles">
			<div class="articles__inner">
				<div class="articles__title red title">
					<h2 class="page__title-h2">
						EVENTS
					</h2>
				</div>
				<div class="articles__slider articles-slider slider">
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
					<div class="articles__slide slide">
						<div class="articles-slide">
							<div class="articles-slide__left">
								<p class="articles-slide__date">November 22, 2018</p>
								<div class="articles-slide__title">
									<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
										Government will provide measures inviting party shall undertake to foreigner complies with regime of stay (residence) in Russia
									</a>
								</div>
								<p class="articles-slide__desc">
									On January 16, 2019, amendments to the Code of Administrative Offenses of Russia, providing for responsibility for inviting party that does not ensure that a foreign citizen observes the regime of stay (residence) in Russia, will enter into force            
								</p>
							</div>
							<div class="articles-slide__right">
								<a class="page__link" href="http://old.366033-cb87966.tmweb.ru/eng/news/measures-to-observe-foreigners-stay-in-russia/">
									<img src="images/article-pic.webp" class="safari-fix" data-format="jpg"  alt="article-pic">
								</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#!" class="articles-slide__btn btn">All EVENTS</a>
			</div>
		</section>
	</section>
	{% endblock %}
	<div class="bottom-nav" style="bottom: 0px;">
		<a href="#" class="bell"></a>
		<a href="#" class="next"></a>
	</div>
	<footer class="footer">
	<div class="footer__inner">
		<div class="soc">
			<a href="#!"
			   class="soc__link soc__link--tw"></a>
			<a href="#!"
			   class="soc__link soc__link--fb"></a>
			<a href="#!"
			   class="soc__link soc__link--in"></a>
			<a href="#!"
			   class="soc__link soc__link--vk"></a>
		</div>
		<div class="footer__contacts">
			<div class="footer__col">
				<h3 class="footer__title title">CONTACTS</h3>
				<p class="footer__info">
					Tel./fax: +7 495 748-77-62;<br>
					8 800 222-77-62<br>
					(toll free calls in Russia);<br>
					info@confidencegroup.ru
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">MOSCOW OFFICE</h3>
				<p class="footer__info">
					105082, Spartakovskaya Square, 14, bld. 2<br>
					(entrance from Baumanskaya Street), Bristol Mansion, Central Street Business Center,<br>
					3rd floor, office 2306
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">WORKING HOURS</h3>
				<p class="footer__info">
					Monday - Friday<br>
					From 9 a.m. to 6 p.m.
				</p>
			</div>

		</div>
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>
 <!-- MODALS -->
        <div class="popup-form" id="modal-geo">
            <div class="inner">
                <div class="close close-modal" data-modal="modal-geo"></div>
                <div class="title big">Your current region<br><span class="red">Moscow</span></div>
                <!-- 
				<div class="btn"><a href="#">Change region</a></div>
				 -->
            </div>
        </div>
        <!-- /MODALS -->
<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/main.js"></script>
<script src="js/custom.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">
</body>
</html>
		

			


