<!DOCTYPE html>
<html lang="en">

<head>
	{% include "includes/head.html"  %}
	<title>ИА > Акции</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/sale.css">
	<link rel="stylesheet" href="css/event.css">
</head>

<body>
	<header class="header sticky">
    <div class="header__inner">
        <div class="header__left">
            <a class="logo" href="/"></a>
        </div>
        <div class="header__mid">
			<nav>
                <ul class="header__nav">
                    <li>
                        <a href="news.html">Новости</a>
                    </li>
                    <li>
                        <a href="publication.html">Публикации</a>
                    </li>
                    <li>
                        <a href="event.html">Мероприятия</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__right">
            
            <div class="header-options">
                <a href="#" class="header-option header-option--geo open-modal" data-modal="modal-geo">Москва</a>
                <a href="#" class="header-option header-option--search">Search</a>
                <a href="#" class="header-option header-option--lang">Ru</a>
            </div>

            <a class="menu-btn-mobile">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </a>
        </div>
    </div>
</header>




	
	<section class="content">
		<section class="event">
			<div class="event__inner">
				<div class="event__title">
					<h1>HIGHLY QUALIFIED SPECIALISTS IN THE RUSSIAN FEDERATION</h1>
				</div>
				<div class="event__img">
					<img src="images/event-pic2.jpg" alt="event-pic">
				</div>
				<div class="event__body">
					<div class="event__content">
						<p>
							Ladies and gentlemen!<br>
							<br>
							We are glad to inform you that we are continuing a series of round tables on current migration issues in 2017.<br>
							<br>
							In order to ensure the availability of information, as well as an individual approach to those present, round tables are held in the office of our company with the participation of a small, limited circle of interested representatives of organizations.<br>
							<br>
							The event will discuss the following questions:<br>
							1. The abolition of the FMS. The reasons. Risks and consequences for employers.<br>
							2. Features of the filing and receipt of documents in the Federal Migration Service of Russia in Moscow in the village of Sakharovo.<br>
							3. The procedure for attracting and using foreign workers as video conferencing: who has the right to involve video conferencing; quota; term of consideration of documents; labor activity in two or more subjects; VKS part-time; terms of stay of VKS in business trip and a business trip; LCA requirements; documents required for processing work permits for video conferencing; the grounds for entering into fixed-term employment contracts with VKS; the procedure for adjusting permits VKS; A new procedure for notifying government organizations about the attraction and use of video conferencing; the order of payroll in the presence of breaks in the work activity of the videoconferencing system<br>
							4. Termination of an employment contract with VKS: procedure for termination of an employment contract with VKS; Cancellation of permits for videoconferencing.<br>
							5. Migration card. Migration registration. Extension of stay: features fill the migration card; preferential terms for migration registration of VKS and their accompanying members; features of the calculation of terms of stay in the Russian Federation VKS and their accompanying family members from visa-free countries.<br>
							6. FMS checks on items of compliance with immigration laws, as well as the actual location of the organization at the address specified in the documents.<br>
							7. Preparation for FMS inspections Responsibility of employers who violate the procedure for attracting and using video conferencing systems: types of administrative penalties; procedure for prohibiting employers to attract video conferencing<br>
							<br>
							Event participants will be provided with handouts, including the latest issue of the Migration Bulletin Confidence Group, as well as a free subscription to future issues of the professional periodical of the Confidence Group company.<br>
							<br>
							Participation in events is absolutely free.<br>
							<br>
							The cost of participation in this event is 3000 rubles; Participation in the event is free for all current Confidency Group clients.<br>
							<br>
							We will be glad to see you in our office.<br>
							<br>
							Respectfully,<br>
							Confidence Group 
						</p>

					</div>
					<div class="event__sidebar">
						<div class="event__btns">
							<a href="#!" class="event__btn btn open-modal"  data-modal="modal-order">ЗАКАЗАТЬ</a>
							<a href="#!" class="event__btn event__btn--grey btn open-modal" data-modal="modal-share">ПОДЕЛИТЬСЯ</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</section>
	
	<div class="bottom-nav" style="bottom: 0px;">
		<a href="#" class="bell"></a>
		<a href="#" class="next"></a>
	</div>
	<footer class="footer-sub">
	<div class="footer-sub__inner">
		<picture>
			<source media="(min-width: 1440px)" srcset="images/1440/subscripbe-1440.webp, images/1440/subscripbe-1440.jpg">
			<source media="(min-width: 1280px)" srcset="images/1280/subscripbe-1280.webp, images/1280/subscripbe-1280.jpg">
			<source media="(min-width: 768px)" srcset="images/768/subscripbe-768.webp, images/768/subscripbe-768.jpg">
			<source media="(min-width: 564px)" srcset="images/564/subscripbe-564.webp, images/564/subscripbe-564.jpg">
			<source media="(min-width: 0px)" srcset="images/400/subscripbe-400.webp, images/400/subscripbe-400.jpg">
			<img class="image-fallback" src="images/768/subscripbe-768.jpg" alt="footer-bg">
		</picture>
		<div class="footer-sub__title title">
			<h2>SUBSCRIBE TO INFORMATION NEWSLETTER</h2>
		</div>
		<div class="footer-sub__desc">
			<p class="red">EVERY MONDAY, WEDNESDAY AND FRIDAY READ FRESH NEWS AND PROFESSIONAL ARTICLES. REGISTER FOR ACTUAL EVENTS</p>
		</div>
		<form action="" class="footer-sub__form">
			<div class="footer-sub__row">
				<input class="footer-sub__input" type="text" placeholder="NAME">
				<input class="footer-sub__input" type="email" placeholder="E-MAIL">
			</div>
			<button class="footer-sub__submit btn">SUBSCRIBE</button>
		</form>
		<div class="soc">
			<a href="#!" class="soc__link soc__link--tw"></a>
			<a href="#!" class="soc__link soc__link--fb"></a>
			<a href="#!" class="soc__link soc__link--in"></a>
			<a href="#!" class="soc__link soc__link--vk"></a>
		</div>
		<p class="footer-sub__extra">
			«Информационное агентство Конфиденс Групп (+0) зарегистрировано в Роскомнадзоре 21 сентября 2016 года. Номер свидетельства СМИ ЭЛ № ФС77-67213. Учредитель - ООО «Конфиденс Групп» Главный редактор - Спринчан А.В. Контакты редакции: 105082, г. Москва, Спартаковская пл., 14, стр.2 (вход со стороны ул. Бауманская), 3 этаж, офис 2306, особняк Bristol, бизнес-центр CENTRAL STREET, 8 495 748 7762, 8 800 222 7762, info@confidencegroup.ru
		</p>
	
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>

 <!-- MODALS -->
        <div class="popup-form" id="modal-geo">
            <div class="inner">
                <div class="close close-modal" data-modal="modal-geo"></div>
               
            </div>
		</div>
		<div class="popup-form modal-order" id="modal-order" >
			<div class="inner">
				<div class="close close-modal" data-modal="modal-order"></div>
				<div class="popup-form__header">
					Приглашение для получения однократной визы сроком действия - 90 дней
				</div>
				<div>
					Количество
					<span class="count">1</span>
				</div>
			  <form>
				<div class="row text"><input placeholder="ФИО*"></div>
				<div class="row text left"><input placeholder="ТЕЛЕФОН*"></div>
				<div class="row text right"><input placeholder="E-mail*"></div>
				<div class="row text"><input placeholder="РЕГИОН*"></div>
				<div class="row text"><textarea placeholder="КОММЕНТАРИЙ*"></textarea></div>
				<div>* Обязательные поля</div>
			  </form>
			<div class="toggles">
				<button class="btn btn_red ">ЗАКАЗАТЬ</button>
			</div>
			
			</div>
		  </div>


		  <div class="popup-form" id="modal-share">
			<div class="inner">
			  <div class="close close-modal"  data-modal="modal-share"></div>
			  <div class="title big">Public discussion of migration policy</div>
			  
			<div class="soc grey">
				<a class="soc__link soc__link--tw" href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fold.366033-cb87966.tmweb.ru%2Feng%2Fevents%2Fhighly-qualified-specialists-in-the-russian-federation-1%2F&amp;text=Highly+qualified+specialists+in+the+Russian+Federation+1" class="tw"></a>
				<a class="soc__link soc__link--fb" href="https://www.facebook.com/confidencegr" target="_blank" class="fb"></a>
				<a class="soc__link soc__link--in" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fold.366033-cb87966.tmweb.ru%2Feng%2Fevents%2Fhighly-qualified-specialists-in-the-russian-federation-1%2F&amp;title=Highly+qualified+specialists+in+the+Russian+Federation+1&amp;summary=&amp;source=Confidence+Group" class="in"></a>
				<a class="soc__link soc__link--vk" href="https://vk.com/confidence_group" target="_blank" class="vk"></a>
			</div>
			</div>
		  </div>
<!-- /MODALS -->
        </div>
<!-- /MODALS -->



<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/main.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">
</body>

</html>