.slider {
	& *{
		outline: none;
	}

	height: auto;
	
	padding-bottom: 61px;
}

.slide{
	outline: none;
}

.slick-arrow{
	outline: none;
	text-indent: -9999px;
    position: absolute;
	bottom: 0;
	top: -56px;
	margin: auto;
    width: 36px;
	height: 70px;
	border: none;
	background: url(../images/arrs.png) no-repeat;
	z-index: 1;cursor: pointer;
}

.slick-prev{
	left: 0px;
}

.slick-next{
	right: 0;;
    background-position: -48px 0;
}

.slick-dots{
	display: flex;
	justify-content: center;
	// margin-top: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	
	button{
		outline: none;
		display: block;
		width: 22px;
    	height: 26px;
		border: none;
		background-color: transparent;
		font-size: 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url('../images/slider-pagination-item.png');
		cursor: pointer;
		margin: 5px 7px;

		&:hover{
			background-image: url('../images/slider-pagination-item-active.png');	
		}
	}

	.slick-active{
		button{
			background-image: url('../images/slider-pagination-item-active.png');	
		}
	}
}
// customers

.customers{
	background: white;
}

.customers__inner {
	display: flex;
	padding-top: 24px;
	padding-bottom: 90px;
}

.customers__title{
	color: #7f7f7f;
	text-align: center;
	font-size: 200%;
	padding: 40px 0;
}

.customers__col {
	flex-shrink: 0;
	width: 50%;
	padding: 0 5%;

	box-sizing: border-box;
	border-right: 1px solid #C4C4C4;
	
	&:last-child{
		border-right: none;
	}
}
.customers__slider {
}
.customers-slider {
	
	.slider__slide-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.slider__slide{
		outline: none;
		img {
			flex-shrink: 0;
			padding: 2%;
			width: 100%;
			height: 200px;
			max-width: 30%;
			object-fit: contain;
		}
	}
}


// articles

.articles {
	background: #fff;
	padding: 50px 4%;
	border-bottom: 1px solid #a4a4a4;
}
.articles__title{
	font-size: 400%;
	margin-bottom: 40px;
}

.articles__inner {
	position: relative;
}
.articles-slider {
	padding: 0 80px;
	height: calc(100% + 61px);
	.slick-dots{
		justify-content: flex-start;
		transform: translateX(-7px);
		right: auto;
		left: 0;
		padding: 0 80px;
	}
}
.articles-slide {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-bottom: 61px;
}
.articles-slide__left {
	width: 45%;
	color: #7f7f7f;
}
.articles-slide__date {
}
.articles-slide__title {
	font-size: 200%;
    line-height: 120%;
    font-weight: 400;
    margin: 30px 0 20px;
}
.articles-slide__desc {
}
.articles-slide__btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	text-transform: uppercase;

}
.articles-slide__right {
	overflow: hidden;
	width: 50%;
}

.services-slider{
	background-color:#ff5c4b;
	padding: 48px 50px 44px;
	color: #FFF;
	overflow: hidden;
}

.services-slider__slider {
	&.slider{
		padding: 0;
	}

	.slick-arrow{
		top: 0;
		left: -20px;
		background: url("../images/arrs-white.png");
	}
	
	.slick-next{
		left: auto;
		right: -20px;
		transform: rotate(180deg);
	}
}
.services-slider__slide {
}

.services-slider__slide-inner{
	

}

.service-filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}
.service-filter__title {
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: 400;
	max-width: 300px;
	text-align: center;
}
.service-filter__control {
}

.service-filter-control {
	width: 145px;
	height: 35px;
	position: relative;
	border: 2px solid white;
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	box-sizing: border-box;
	input{
		appearance: none;
		position: absolute;
		width: 100%;
		height: 100%;
		// opacity: 0;
		left: 0;
		top: 0;
		z-index: 2;
		cursor: pointer;
		margin: 0;
	}

	input:checked{
		& + span {
			left: calc(100% - 32px);

			& + div {
				color: black;
				background: white;

				& span:first-child{
					display: none;
				}
	
				& span:last-child{
					display: block;
				}
			}
		}
	}
}
.service-filter-control__text {
	position: absolute;
	width: 100%;
	height: 120%;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	line-height: 37px;
	font-size: 90%;
	z-index: 0;

	& span:first-child{

	}

	& span:last-child{
		display: none;
	}
}
.service-filter-control__track {
	display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    width: 33px;
    height: 33px;
    background: url(../images/radio-btn.png) no-repeat 50% 50% #fff;
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
	border-radius: 50%;
	z-index: 1;

}

.testimonials {
	background-color: #ff5c4b;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.testimonials__inner {
	padding: 90px 0;
}
.testimonials__title {
	font-size: 400%;
}
.testimonials__dec {
	display: inline-block;
    font-family: "Xenia";
    font-size: 170px;
    font-style: normal;
    line-height: 135px;
    margin-left: 0px;
    margin-bottom: 70px;
    max-height: 52px;
    opacity: 0.1;
    vertical-align: top;
}
.testimonials__slider {
	padding: 0 20%;
	padding-bottom: 61px;

	.slick-arrow{
		top: 0;
		left: 40px;
		background: url("../images/arrs-white.png");
	}
	
	.slick-next{
		left: auto;
		right: 40px;
		transform: rotate(180deg);
	}

	.slick-dots{
		display: flex;
		justify-content: center;
		// margin-top: 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	
		
		button{
			background-image: url("../images/slider-pagination-item-white.png");
	
			&:hover{
				background-image: url("../images/slider-pagination-item-white-active.png");	
			}
		}
	
		.slick-active{
			button{
				background-image: url("../images/slider-pagination-item-white-active.png");	
			}
		}
	}
}
.testimonials__slide {
}
.testimonials__slide-inner {
}
.testimonial {
}
.testimonial__desc {
}
.testimonial__author {
	margin-top: 40px;
	font-weight: 500;
}

.team {
	// background: url(../images/team-bg.jpg) no-repeat 50% 50%/cover #fff;
    position: relative;
    text-align: center;
    padding-top: 1px;
    color: #ff5c4b;
}
.team__title {
	font-size: 400%;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1;
}
.title {
}
.team__inner {
	padding-bottom: 60px;
}
.team__slider {
	// height: 752px;

	max-width: 1480px;
    margin: auto;
    box-sizing: content-box;
	padding: 0 50px;
	// overflow: hidden;
	
	.slick-list{
		// overflow: visible;
	}

}
.team__slide {
}
.team__slide-inner {
	display: flex;
	flex-wrap: wrap;
	    padding-bottom: 60px;

}
.team-member {
	position: relative;
	width: 246px;
	height: 229px;
	border: .5px solid white;
	// overflow: hidden;
	
	&::after{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #ff5c4b;
		opacity: .5;
		content: '';
		transition: opacity 100ms ease-in-out;
	}

	&:hover{
		// height: 289px;
		&::after{
			display: none;
		}

		& .team-member__img{

			img{
				height: 289px;
			}

			img:last-child{
				z-index: 1;
			}
		}

		& .team-member__name{
			// bottom: 15px;
			z-index: 1;
			display: block;
		}
	}
}
.team-member__img {
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// height: 229px;
		object-fit: cover;
	}

	img:last-child{
		z-index: -1;
	}

}
.team-member__name {
	position: absolute;
    left: 20px;
    right: 20px;
    bottom: -45px;
    font-size: 15px;
    padding: 12px 0;
    line-height: 1em;
    text-transform: uppercase;
    background: #fff;
	color: #2e2e2e;
    // opacity: 0;
	border-radius: 4px;
	z-index: -1;
	display: none;
}

.serts{
	background-color: #ff5c4b;
	text-align: center;
	color: white;
	padding: 80px 0;
}

.serts__title {
	font-size: 400%;
	padding-bottom: 60px;
	.title {
	}
}
.serts__inner {
}
.serts__slider {
}
.serts-slider {
	overflow: hidden;
	padding: 0 10%;
	padding-bottom: 61px;

	.slick-arrow{
		top: 0;
		left: 40px;
		background: url("../images/arrs-white.png");
	}
	
	.slick-next{
		left: auto;
		right: 40px;
		transform: rotate(180deg);
	}

	.slick-dots{
		button{
			background-image: url("../images/slider-pagination-item-white.png");
	
			&:hover{
				background-image: url("../images/slider-pagination-item-white-active.png");	
			}
		}
	
		.slick-active{
			button{
				background-image: url("../images/slider-pagination-item-white-active.png");	
			}
		}
	}

}

.serts-slider__inner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	img{
		margin: 2px;
	}
}



@media(max-width: 1920px){
    
}

@media(max-width: 1440px){

	.customers-slider {
		.slider__slide{
			img {
				height: 140px;
			}
		}
	}

	.articles-slide__title{
		font-size: 140%;
	}
    
}

@media(max-width: 1200px){
    
}

@media(max-width: 1024px){
    .articles-slider {
		.slick-dots{
			padding: 0px;
			padding-left: 50px;
		}
	}
}

@media(max-width: 768px){

	.customers__title{
		padding: 20px 0;
	}

	.customers__inner{
		flex-direction: column;
		padding-bottom: 40px;
	}

	.customers__col{
		width: 100%;
		padding-bottom: 40px;
	}

    .customers-slider {
		.slider__slide{
			img {
				height: 140px;
			}
		}
	}

	.articles__title{
		font-size: 240%;
	}
	

	.articles-slider{
		&.slider{
			padding: 0 30px;
			height: calc(100% + 251px);
			// padding-bottom: 51px;
		}

		.articles-slide{
			padding-bottom: 140px;
		}
		.slick-dots{
			transform: none;
			justify-content: center;
			right: 0;
			left: 0;
			width: 100%;
			padding: 0;
		}

		.slick-arrow{
			display: none !important;
		}
	}

	.articles-slide__left{
		width: 100%;
	}

	.articles-slide__right{
		display: none;
	}

	.articles-slide__btn{
		left: 50%;
		bottom: 60px;
	}

	.services-slider__slider{
		.slick-arrow{
			left: -40px;
		}
		
		.slick-next{
			left: auto;
			right: -40px;
		}	
	}

	.serts__slider,.testimonials__slider{
		padding: 0 20px;
		padding-bottom: 61px;

		.slick-arrow{
			display: none !important;
		}
	}

	.testimonials__title{
		&.title{
			font-size: 300%;
		}
	}

	.serts__title{
		&.title{
			font-size: 150%;
		}
	}
	
}