.steps-slider {
	background-color: #ff5c4b;
	padding-bottom: 80px;
}

.steps-slider__main-title {
	padding-top: 66px;
	font-family: 'Xenia', 'Roboto Slab', "Times New Roman", Times, serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	line-height: 53px;
	margin-bottom: 30px;

	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.steps-slider__slide {
	outline: none;
}



.steps-slider__inner {
	display: flex;
	max-width: 1156px;
	margin: auto;
	justify-content: space-between;
}

.steps-slider__img {
	padding-left: 52px;
}

.steps-slider__text {
	// max-width: 500px;
	padding-left: 8%;
	color: #fff;

	ul {
		margin-bottom: 45px;
	}

	li {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 8px;

		span {
			padding-left: 35px;
			position: relative;
			display: block;

			&::after {
				content: '';
				width: 12px;
				height: 12px;
				background: url('../images/steps-slider/ar.svg') center no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;

			}
		}
	}
}

.steps-slider__title {
	margin-bottom: 14px;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	padding-left: 35px;
}

.steps-slider__body {
	padding-top: 242px;

	.slick-dots {
		// position: static;
		display: flex;
		align-items: flex-start;
		width: 100%;
		top: 0;

		&>li {
			width: 10%;
		}

		& .slick-active .customDot-js {
			border-bottom: 1px solid transparent;
		}
	}

}

.customDot-js {
	text-align: center;
	width: 100%;
	height: 190px;
	flex-shrink: 0;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	cursor: pointer;
}


.customDot-js__img {
	margin-bottom: 20px;
	height: 76px;
}

.customDot-js__caption {
	font-size: 20px;
	line-height: 23px;
	font-weight: bold;
}

.mobile-accordion-head {
	display: none;
	cursor: pointer;
}





@media(max-width: 1920px) {}

@media(max-width: 1630px) {
	.steps-slider__body .slick-dots>li {
		width: 12%;
	}

}

@media(max-width: 1440px) {
	.steps-slider__body .slick-dots>li {
		width: 14%;
	}
}

@media(max-width: 1200px) {

	.steps-slider__body .slick-dots>li {
		width: 16%;
	}

	.customDot-js {
		height: 140px;
	}

	.customDot-js__img {
		height: 60px;
		margin-bottom: 14px;

		img {
			height: 100%;
			object-fit: contain;
		}

	}

	.customDot-js__caption {
		font-size: 16px;
		line-height: 18px;
	}
}

@media(max-width: 1024px) {
	.steps-slider__body .slick-dots>li {
		// width: 20%;
	}

}

@media(max-width: 768px) {

	.steps-slider__main-title {
		font-size: 28px;
		line-height: 30px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 42px;
		margin-bottom: 0;


	}

	.customDot-js__caption {
		font-size: 14px;
		line-height: 16px;
	}

	.steps-slider__body {
		padding-top: 0;
	}

	.steps-slider__img{
		padding-left: 0;
	}
	
	.mobile-accordion-head {
		display: block;
		padding: 16px;
		padding-left: 54px;
		font-size: 18px;
		line-height: 21px;
		text-align: left;
		font-weight: bold;

		position: relative;

		&::before{
			position: absolute;
			width: 40px;
			height: 40px;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			background-size: 22px;
		}

		&::after{
			position: absolute;
			width: 33px;
			height: 33px;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			background-size: 22px;
			transition: all .3s ease;
			background-image: url(../images/steps-slider/ar2.svg);
		}

		&.mobile-accordion-head--step1::before{
			background-image: url(../images/steps-slider/11.svg);
		}

		&.mobile-accordion-head--step2::before{
			background-image: url(../images/steps-slider/22.svg);
		}

		&.mobile-accordion-head--step3::before{
			background-image: url(../images/steps-slider/33.svg);
		}

		&.mobile-accordion-head--step4::before{
			background-image: url(../images/steps-slider/44.svg);
		}

		&.mobile-accordion-head--step5::before{
			background-image: url(../images/steps-slider/55.svg);
		}

		&.mobile-accordion-head--step6::before{
			background-image: url(../images/steps-slider/66.svg);
		}
	}
	
	// margin-top: 32px;
	.mobile-accordion-body{
		border-top: 1px solid white;
		padding: 0 16px;
		
		&:last-child{
			border-bottom: 1px solid white;
		}
	}
	
	.steps-slider__inner{
		flex-direction: column;
		display: none;
	}

	.mobile-accordion-body{
		&.active .steps-slider__inner{
			display: flex;
		}

		&.active .mobile-accordion-head::after{
			transform: rotate(180deg);
		}
	}

	.steps-slider__title{
		font-size: 18px;
		line-height: 21px;
	}	

	.steps-slider__text{
		padding-top: 44px;
		padding-left: 44px;
		padding-right: 30px;
		
		li{
			font-size: 16px;
			line-height: 19px;
		}

	}

}

@media(max-width: 400px) {
	.steps-slider__main-title{
		font-size: 23px;
	}
}