<div class="bottom-nav" style="bottom: 0px;">
	<a href="#" class="bell"></a>
	<a href="#" class="next"></a>
</div>
<footer class="footer">
	<div class="footer__inner">
		<div class="soc">
			<a href="#!"
			   class="soc__link soc__link--tw"></a>
			<a href="#!"
			   class="soc__link soc__link--fb"></a>
			<a href="#!"
			   class="soc__link soc__link--in"></a>
			<a href="#!"
			   class="soc__link soc__link--vk"></a>
		</div>
		<div class="footer__contacts">
			<div class="footer__col">
				<h3 class="footer__title title">CONTACTS</h3>
				<p class="footer__info">
					Tel./fax: +7 495 748-77-62;<br>
					8 800 222-77-62<br>
					(toll free calls in Russia);<br>
					info@confidencegroup.ru
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">MOSCOW OFFICE</h3>
				<p class="footer__info">
					105082, Spartakovskaya Square, 14, bld. 2<br>
					(entrance from Baumanskaya Street), Bristol Mansion, Central Street Business Center,<br>
					3rd floor, office 2306
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">WORKING HOURS</h3>
				<p class="footer__info">
					Monday - Friday<br>
					From 9 a.m. to 6 p.m.
				</p>
			</div>

		</div>
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>

<!-- MODALS -->
<div class="popup-form" id="modal-geo">
	<div class="inner">
		<div class="close close-modal" data-modal="modal-geo"></div>
		<div class="title big">Your current region<br><span class="red">Moscow</span></div>
		<!-- 
		<div class="btn"><a href="#">Change region</a></div>
		 -->
	</div>
</div>
<!-- /MODALS -->
<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="libs/simplaLightbox/simpleLightbox.min.js"></script>
<script src="js/main.js"></script>
<script src="js/custom.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
	  rel="stylesheet">