<footer class="footer footer--with-bg">
	<div class="footer__bg">
		<picture>
			<source media="(min-width: 1440px)" srcset="images/1440/subscripbe-1440.webp, images/1440/subscripbe-1440.jpg">
			<source media="(min-width: 1280px)" srcset="images/1280/subscripbe-1280.webp, images/1280/subscripbe-1280.jpg">
			<source media="(min-width: 768px)" srcset="images/768/subscripbe-768.webp, images/768/subscripbe-768.jpg">
			<source media="(min-width: 564px)" srcset="images/564/subscripbe-564.webp, images/564/subscripbe-564.jpg">
			<source media="(min-width: 0px)" srcset="images/400/subscripbe-400.webp, images/400/subscripbe-400.jpg">
			<img class="image-fallback" src="images/768/subscripbe-768.jpg" alt="footer-bg">
		</picture>
	</div>
	<div class="footer__inner">
		<div class="soc">
			<a href="#!" class="soc__link soc__link--tw"></a>
			<a href="#!" class="soc__link soc__link--fb"></a>
			<a href="#!" class="soc__link soc__link--in"></a>
			<a href="#!" class="soc__link soc__link--vk"></a>
		</div>
		<div class="footer__contacts">
			<div class="footer__col">
				<h3 class="footer__title title">CONTACTS</h3>
				<p class="footer__info">
					Tel./fax: +7 495 748-77-62;<br>
					8 800 222-77-62<br>
					(toll free calls in Russia);<br>
					info@confidencegroup.ru
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">MOSCOW OFFICE</h3>
				<p class="footer__info">
					105082, Spartakovskaya Square, 14, bld. 2<br>
					(entrance from Baumanskaya Street), Bristol Mansion, Central Street Business Center,<br>
					3rd floor, office 2306
				</p>
			</div>
			<div class="footer__col">
				<h3 class="footer__title title">WORKING HOURS</h3>
				<p class="footer__info">
					Monday - Friday<br>
					From 9 a.m. to 6 p.m.
				</p>
			</div>
			
		</div>
	</div>
	<div class="footer__bot">
		© 2007-2020 Confidence Group. All rights reserved
	</div>
</footer>

<script src="libs/jquery-3.4.1.min.js"></script>
<script src="libs/slick.min.js"></script>
<script src="js/main.js"></script>