<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <a class="logo" href="/"></a>
        </div>
        <div class="header__mid">
            <nav>
                <ul class="header__nav">
                    <li>
                        <a href="about.html">О КОМПАНИИ</a>
                    </li>
                    <li>
                        <a href="about.html">УСЛУГИ</a>
                    </li>
                    <li>
                        <a href="about.html">КЛИЕНТЫ</a>
                    </li>
                    <li>
                        <a href="inform-agency.html">ИНФОРМАЦИОННОЕ АГЕНТСТВО</a>
                    </li>
                    <li>
                        <a href="about.html">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__right">
            
            <div class="header-options">
                <a class="header-option header-option--geo" href="#!">Москва</a>
                <a class="header-option header-option--search" href="#!">Search</a>
                <a class="header-option header-option--lang" href="#!">Ru</a>
            </div>

            <a class="menu-btn-mobile">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </a>
        </div>
    </div>
</header>


